<!DOCTYPE html>
<html>
<head>
  <title>{$ccontent.cname}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/weui.min.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-weui.min.css" />
  <style type="text/css">
    html,body{
      height: 100%;
    }
     .swiper-container {
          width: 100%;
    }

     .swiper-container img {
            display: block;
            width: 100%;
          }

     .weui_tab .weui_tab_bd .content img{
              width: 100%;
              display: block;
          }

     .demos-title{
            color: #3cc51f;
            font-size: 3px;
          }
     .title{
            color:gray;
          }

  </style>

</head>
<body>
  <div class="weui_tab">
    <div class="weui_tab_bd">

      <article class="weui_article">
        <h1 class="demos-title" style="font-weight: bold">{$ccontent.cname}</h1>
        <span class="title">考证时间：{$ccontent.ctime}&nbsp;&nbsp;认证费用：{$ccontent.cfee}元</span>
        <section>
          <p>
            {$ccontent.ccontent}
          </p>
        </section>
      </article>
            <!--WAP版-->
<div id="SOHUCS" sid="{$ccontent.cid}" ></div>
<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cysJVl9Cb&conf=prod_49c81d0f91ec3cbce38e37a23f0ec3f4">
</script>

      <div class="weui_tabbar">
        <a href="__PUBLIC__/index.html" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/home.jpg" alt=""></div>
          <p class="weui_tabbar_label">主页</p>
        </a>
        <a href="__PUBLIC__/list.html" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/broadcast.jpg" alt=""></div>
          <p class="weui_tabbar_label">通知</p>
        </a>
        <a href="__PUBLIC__/news.html" class="weui_tabbar_item ">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/news.jpg" alt=""></div>
          <p class="weui_tabbar_label">新闻</p>
        </a>
        <a href="__PUBLIC__/list_fengcai.html" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/mien.png" alt=""></div>
          <p class="weui_tabbar_label">风采</p>
        </a>
      </div>
    </div>

  </div>

</body>
</html>
