<!DOCTYPE html>
<html>
<head>
	<title>比赛考证</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/weui.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-weui.min.css" />
	<style type="text/css">
		html,body{
			height: 100%;
		}
	    .swiper-container {
      		width: 100%;
      	}

         .swiper-container img {
        		display: block;
        		width: 100%;
          }

          .weui_tab .weui_tab_bd .content img{
          		width: 100%;
          		display: block;
          }
	</style>

</head>
<body>
	<div class="weui_tab">
		<div class="weui_tab_bd">
			<!-- 导航栏 -->
			<div class="weui_tab">
				<div class="weui_navbar">
					<a class="weui_navbar_item weui_bar_item_on">比赛消息</a>
					<a class="weui_navbar_item">考证攻略</a>
				</div>
				<!-- 导航栏结束 -->
				<div class="weui_tab_bd">
					<!-- 第一个选项卡 -->
					<div class="content">

						<div class="bd">
							<div class="weui_panel weui_panel_access">
								<div class="weui_panel_hd">微头条</div>
								<div class="weui_panel_bd">
									<volist name="hotmatch" id="vo">
										<a href="__MODULE__/weui/matchcontent/mid/{$vo.mid}" class="weui_media_box weui_media_appmsg">
											<div class="weui_media_hd">
												<img class="weui_media_appmsg_thumb" src="http://www.easyicon.net/api/resizeApi.php?id=1146904&size=72" alt="{$vo.mid}"></div>
											<div class="weui_media_bd">
												<h4 class="weui_media_title">{$vo.mname}</h4>
												<p class="weui_media_desc">向您推荐目前国内大学生最关注最热门的全国性竞赛，和一些具代表性、权威性、示范性、导向性的大学生竞赛。</p>
											</div>
										</a>
									</volist>
								</div>
							</div>
							<div class="weui_panel weui_panel_access">
								<div class="weui_panel_hd">比赛列表</div>
								<div class="weui_panel_bd">
									<div class="weui_media_box weui_media_small_appmsg">
										<div class="weui_cells weui_cells_access">
											<volist name="match" id="vo">
												<a class="weui_cell" href="__MODULE__/weui/matchcontent/mid/{$vo.mid}">
													<div class="weui_cell_hd">
														<img src="http://www.easyicon.net/api/resizeApi.php?id=1198188&size=48" alt="{$vo.mid}" style="width:20px;margin-right:5px;display:block"></div>
													<div class="weui_cell_bd weui_cell_primary">
														<p>{$vo.mname}</p>
													</div>
													<span class="weui_cell_ft"></span>
												</a>
											</volist>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="content" style="display: none;">

						<div class="bd">
							<div class="weui_panel weui_panel_access">
								<div class="weui_panel_hd">微头条</div>
								<div class="weui_panel_bd">
									<volist name="hotcerticate" id="vo">
										<a href="__MODULE__/weui/certificatecontent/cid/{$vo.cid}" class="weui_media_box weui_media_appmsg">
											<div class="weui_media_hd">
												<img class="weui_media_appmsg_thumb" src="http://www.easyicon.net/api/resizeApi.php?id=1078370&size=72" alt="{$vo.cname}"></div>
											<div class="weui_media_bd">
												<h4 class="weui_media_title">{$vo.cname}</h4>
												<p class="weui_media_desc">本站特地为您推荐含金量高、社会认可度大的几项认证，这些认证相对容易通过，并且实用性高，可以很好地提高您的社会竞争力。</p>
											</div>
										</a>
									</volist>
								</div>
							</div>
							<div class="weui_panel weui_panel_access">
								<div class="weui_panel_hd">考证列表</div>
								<div class="weui_panel_bd">
									<div class="weui_media_box weui_media_small_appmsg">
										<div class="weui_cells weui_cells_access">
											<volist name="certificate" id="vo">
												<a class="weui_cell" href="__MODULE__/weui/certificatecontent/cid/{$vo.cid}">
													<div class="weui_cell_hd">
														<img src="http://www.easyicon.net/api/resizeApi.php?id=530519&size=24" alt="{$vo.cid}" style="width:20px;margin-right:5px;display:block"></div>
													<div class="weui_cell_bd weui_cell_primary">
														<p>{$vo.cname}</p>
													</div>
													<span class="weui_cell_ft"></span>
												</a>
											</volist>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
		<div class="weui_tabbar">
			<a href="__MODULE__/weui/index" class="weui_tabbar_item">
				<div class="weui_tabbar_icon">
					<img src="__PUBLIC__/images/home.jpg" alt=""></div>
				<p class="weui_tabbar_label">易学主页</p>
			</a>
			<a href="__MODULE__/weui/mclist" class="weui_tabbar_item  weui_bar_item_on">
				<div class="weui_tabbar_icon">
					<img src="__PUBLIC__/images/broadcast.jpg" alt=""></div>
				<p class="weui_tabbar_label">比赛考证</p>
			</a>
			<a href="__MODULE__/weui/newslist" class="weui_tabbar_item">
				<div class="weui_tabbar_icon">
					<img src="__PUBLIC__/images/news.png" alt=""></div>
				<p class="weui_tabbar_label">新闻资讯</p>
			</a>
			<a href="__MODULE__/weui/articlelist" class="weui_tabbar_item">
				<div class="weui_tabbar_icon">
					<img src="__PUBLIC__/images/mien.png" alt=""></div>
				<p class="weui_tabbar_label">励志人生</p>
			</a>
		</div>
	</div>

</body>
	<script type="text/javascript" src="__PUBLIC__/lib/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-weui.min.js"></script>
	<script type="text/javascript">
		$(".weui_navbar .weui_navbar_item").click(function() {
			$(".weui_navbar .weui_navbar_item").removeClass("weui_bar_item_on");//移除所有on效果
			$(this).addClass("weui_bar_item_on");//单击后添加on效果
			//判断点击第几个选项卡
			var which=$(this).index();
			//隐藏所有区域
			$(".weui_tab_bd .content").hide();
			//按索引显示对应内容
			$(".weui_tab_bd .content:eq("+which+")").show();

			console.log(which);
		})
	</script>
</html>
