<!DOCTYPE html>
<html>
<head>
	<title>学院新闻</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="lib/weui.min.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery-weui.min.css" />
	<style type="text/css">
		html,body{
			height: 100%;
		}
	    .swiper-container {
      		width: 100%;
      	}

         .swiper-container img {
        		display: block;
        		width: 100%;
          }

          .weui_tab .weui_tab_bd .content img{
          		width: 100%;
          		display: block;
          }
	</style>

</head>
<body>
<div class="weui_tab">
  <div class="weui_tab_bd">
  <!-- 导航栏 -->
	  <div class="weui_tab">
	  <div class="weui_navbar">
	    <a class="weui_navbar_item weui_bar_item_on">
	      学院新闻
	    </a>
	    <a class="weui_navbar_item">
	      学院视频
	    </a>
	    <a class="weui_navbar_item">
	      焦点专题
	    </a>
	  </div>
	    <!-- 导航栏结束 -->
	  <div class="weui_tab_bd">
	  <!-- 第一个选项卡 -->
	  <div class="content" >
	<div class="bd">
	    <div class="weui_panel weui_panel_access">
	        <div class="weui_panel_hd">微新闻</div>
	        <div class="weui_panel_bd">
	            <a href="content.html" class="weui_media_box weui_media_appmsg">
	                <div class="weui_media_hd">
	                    <img class="weui_media_appmsg_thumb" src="http://yangshaoyang.cn/student/logo3.png" alt="">
	                </div>
	                <div class="weui_media_bd">
	                    <h4 class="weui_media_title">互联青春，绽放未来</h4>
	                    <p class="weui_media_desc">9月23日晚6点30分，“互联青春，绽放未来”——软件学院2016年开学典礼暨迎新晚会在河北师范大学软件学院楼下隆重举办。软件学院管委会主任、博士生导师张子龙，党总支副书记、副院长王喜，副院长、博士生导师赵书良，副院长张玉华，副院长单博，部分专业教师，各年级辅导员及2016级全体新生和部分在校生近千人参加了开学典礼暨迎新晚会。</p>
	                </div>
	            </a>
	            <a href="content.html" class="weui_media_box weui_media_appmsg">
	                <div class="weui_media_hd">
	                    <img class="weui_media_appmsg_thumb" src="http://yangshaoyang.cn/student/logo3.png" alt="">
	                </div>
	                <div class="weui_media_bd">
	                    <h4 class="weui_media_title">软件学院举行第二届教师讲课大赛</h4>
	                    <p class="weui_media_desc">为了进一步提升教学质量，激发教师对所授课程钻研积极性，提高教师教学水平，并为教师成长搭建相互学习、相互交流的平台，2016年9月23日，河北师范大学软件学院第二届教师讲课大赛在学院204教室举行。</p>
	                </div>
	            </a>
	        </div>
	        <a class="weui_panel_ft" href="javascript:void(0);">查看更多</a>
	    </div>
	    <div class="weui_panel weui_panel_access">
	        <div class="weui_panel_hd">文字组合列表</div>
	        <div class="weui_panel_bd">
	            <div class="weui_media_box weui_media_text">
	                <h4 class="weui_media_title">互联青春，绽放未来</h4>
	                <p class="weui_media_desc">9月23日晚6点30分，“互联青春，绽放未来”——软件学院2016年开学典礼暨迎新晚会在河北师范大学软件学院楼下隆重举办。软件学院管委会主任、博士生导师张子龙，党总支副书记、副院长王喜，副院长、博士生导师赵书良，副院长张玉华，副院长单博，部分专业教师，各年级辅导员及2016级全体新生和部分在校生近千人参加了开学典礼暨迎新晚会。</p>
	            </div>
	            <div class="weui_media_box weui_media_text">
	                <h4 class="weui_media_title">软件学院举行第二届教师讲课大赛</h4>
	                <p class="weui_media_desc">为了进一步提升教学质量，激发教师对所授课程钻研积极性，提高教师教学水平，并为教师成长搭建相互学习、相互交流的平台，2016年9月23日，河北师范大学软件学院第二届教师讲课大赛在学院204教室举行。</p>
	            </div>
	        </div>
	        <a href="content.html" class="weui_panel_ft">查看更多</a>
	    </div>
	    <div class="weui_panel">
	        <div class="weui_panel_hd">小图文组合列表</div>
	        <div class="weui_panel_bd">
	            <div class="weui_media_box weui_media_small_appmsg">
	                <div class="weui_cells weui_cells_access">
	                    <a class="weui_cell" href="content.html">
	                        <div class="weui_cell_hd"><img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3079308183,4184978807&fm=96" alt="" style="width:20px;margin-right:5px;display:block"></div>
	                        <div class="weui_cell_bd weui_cell_primary">
	                            <p>互联青春，绽放未来</p>
	                        </div>
	                        <span class="weui_cell_ft"></span>
	                    </a>
	                    <a class="weui_cell" href="content.html">
	                        <div class="weui_cell_hd"><img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3079308183,4184978807&fm=96" alt="" style="width:20px;margin-right:5px;display:block"></div>
	                        <div class="weui_cell_bd weui_cell_primary">
	                            <p>软件学院举行第二届教师讲课大赛</p>
	                        </div>
	                        <span class="weui_cell_ft"></span>
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="weui_panel">
	        <div class="weui_panel_hd">新闻概览</div>
	        <div class="weui_panel_bd">
	            <div class="weui_media_box weui_media_text">
	                <h4 class="weui_media_title">互联青春，绽放未来</h4>
	                <p class="weui_media_desc">为了进一步提升教学质量，激发教师对所授课程钻研积极性，提高教师教学水平，并为教师成长搭建相互学习、相互交流的平台，2016年9月23日，河北师范大学软件学院第二届教师讲课大赛在学院204教室举行。</p>
	                <ul class="weui_media_info">
	                    <li class="weui_media_info_meta">软件学院</li>
	                    <li class="weui_media_info_meta">2016年10月18日15:05:10</li>
	                    <li class="weui_media_info_meta weui_media_info_meta_extra">微官网</li>
	                </ul>
	            </div>
	        </div>
	    </div>
	  </div>
	</div>
	    <div class="content" style="display: none;">
	    		<iframe src="http://software.hebtu.edu.cn/index.php?m=content&c=index&a=lists&catid=61" style="height: 700px;width: 100%" ></iframe>
	    </div>
	    <div class="content" style="display: none;">
	    		<div class="weui-row">
			  <div class="weui-col-50"><img src="images/xing.jpg"/></div>
			  <div class="weui-col-50"><img src="images/xing.jpg"/></div>

			  <div class="weui-col-50"><img src="images/xing.jpg"/></div>
			  <div class="weui-col-50"><img src="images/xing.jpg"/></div>
			</div>
	    </div>
	  </div>
  	</div>


  </div>
  <div class="weui_tabbar">
    <a href="index.html" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="images/home.jpg" alt="">
      </div>
      <p class="weui_tabbar_label">主页</p>
    </a>
    <a href="list.html" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="images/broadcast.jpg" alt="">
      </div>
      <p class="weui_tabbar_label">通知</p>
    </a>
    <a href="news.html" class="weui_tabbar_item weui_bar_item_on">
      <div class="weui_tabbar_icon">
        <img src="images/news.jpg" alt="">
      </div>
      <p class="weui_tabbar_label">新闻</p>
    </a>
    <a href="list_fengcai.html" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="images/mien.png" alt="">
      </div>
      <p class="weui_tabbar_label">风采</p>
    </a>
  </div>
</div>



</body>
	<script type="text/javascript" src="lib/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="js/jquery-weui.min.js"></script>
	<script type="text/javascript">
		$(".weui_navbar .weui_navbar_item").click(function() {
			$(".weui_navbar .weui_navbar_item").removeClass("weui_bar_item_on");//移除所有on效果
			$(this).addClass("weui_bar_item_on");//单击后添加on效果
			//判断点击第几个选项卡
			var which=$(this).index();
			//隐藏所有区域
			$(".weui_tab_bd .content").hide();
			//按索引显示对应内容
			$(".weui_tab_bd .content:eq("+which+")").show();

			//console.log(which);
		})
	</script>
</html>
