<!DOCTYPE html>
<html>
<head>
  <title>{$newscontent.newstitle}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/weui.min.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-weui.min.css" />
  <style type="text/css">
    html,body{
      height: 100%;
    }
     .swiper-container {
          width: 100%;
    }

     .swiper-container img {
            display: block;
            width: 100%;
          }

     .weui_tab .weui_tab_bd .content img{
              width: 100%;
              display: block;
          }

     .demos-title{
            color: #3cc51f;
            font-size: 3px;
          }
     .title{
            color:gray;
          }

  </style>

</head>
<body>
  <div class="weui_tab">
    <div class="weui_tab_bd">

      <article class="weui_article">
        <h1 class="demos-title" style="font-weight: bold">{$newscontent.newstitle}</h1>
        <span class="title">
          发布时间：{$newscontent.newstime}&nbsp;&nbsp;来源：{$newscontent.newssource}
        </span>
        <section>
          <p>{$newscontent.newscontent}</p>
          <img src="http://estudy.csbroswer.cn/{$newscontent.newsthumb}" alt="{$newscontent.newstitle}" />
        </section>
      </article>
      <!--WAP版-->
      <div id="SOHUCS" sid="{$newscontent.newsthumb}" ></div>
      <script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cysJVl9Cb&conf=prod_49c81d0f91ec3cbce38e37a23f0ec3f4"></script>

      <div class="weui_tabbar">
        <a href="__MODULE__/weui/index" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/home.jpg" alt=""></div>
          <p class="weui_tabbar_label">易学主页</p>
        </a>
        <a href="__MODULE__/weui/mclist" class="weui_tabbar_item  weui_bar_item_on">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/broadcast.jpg" alt=""></div>
          <p class="weui_tabbar_label">比赛考证</p>
        </a>
        <a href="__MODULE__/weui/newslist" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/news.png" alt=""></div>
          <p class="weui_tabbar_label">新闻资讯</p>
        </a>
        <a href="__MODULE__/weui/articlelist" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/mien.png" alt=""></div>
          <p class="weui_tabbar_label">励志人生</p>
        </a>
      </div>
    </div>

  </div>

</body>
</html>
