<!DOCTYPE html>
<html>
<head>
  <title>版本迭代</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/weui.min.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-weui.min.css" />
  <style type="text/css">
    html,body{
      height: 100%;
    }
     .swiper-container {
          width: 100%;
    }

     .swiper-container img {
            display: block;
            width: 100%;
          }

     .weui_tab .weui_tab_bd .content img{
              width: 100%;
              display: block;
          }

     .demos-title{
            color: #3cc51f;
            font-size: 3px;
          }
     .title{
            color:gray;
          }

  </style>

</head>
<body>
  <div class="weui_tab">
    <div class="weui_tab_bd">
      <article class="weui_article">
        <h1 class="demos-title" style="font-weight: bold">易学助手微官网 v2.0</h1>
        <span class="title">新版微官网即将上线，敬请期待</span>
        <section>
          <p style="font-weight: bold;">抢先一饱眼福：<br></p>

          <p>
            （一）网站主页
            <img src="__PUBLIC__/images/WeChat_UI/index.jpg" alt="主页"></p>
          <p>
            （二）考证提示
            <img src="__PUBLIC__/images/WeChat_UI/kztx.jpg" alt="考证"></p>
          <p>
            （三）比赛提示
            <img src="__PUBLIC__/images/WeChat_UI/bstx.jpg" alt="比赛"></p>
          <p>
            （四）论坛交流
            <img src="__PUBLIC__/images/WeChat_UI/ltjl.jpg" alt="论坛"></p>
          <p>
            （五）励志帖子
            <img src="__PUBLIC__/images/WeChat_UI/lztz.jpg" alt="励志"></p>
          <p>
            （六）个人中心
            <img src="__PUBLIC__/images/WeChat_UI/grzx.jpg" alt="个人中心"></p>

        </section>
      </article>
      <!--WAP版-->
      <div id="SOHUCS" sid="values" ></div>
      <script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cysJVl9Cb&conf=prod_49c81d0f91ec3cbce38e37a23f0ec3f4"></script>

      <div class="weui_tabbar">
        <a href="__MODULE__/weui/index" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/home.jpg" alt=""></div>
          <p class="weui_tabbar_label">易学主页</p>
        </a>
        <a href="__MODULE__/weui/mclist" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/broadcast.jpg" alt=""></div>
          <p class="weui_tabbar_label">比赛考证</p>
        </a>
        <a href="__MODULE__/weui/newslist" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/news.png" alt=""></div>
          <p class="weui_tabbar_label">新闻资讯</p>
        </a>
        <a href="__MODULE__/weui/articlelist" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
            <img src="__PUBLIC__/images/mien.png" alt=""></div>
          <p class="weui_tabbar_label">励志人生</p>
        </a>
      </div>
    </div>

  </div>

</body>
</html>
