<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<link href="css/public.css" rel="stylesheet" type="text/css" />
<title>选址中国</title>
</head>
<body>
<div class="header">
	<div class="mybody">
    <div class="headtop">
    	<div class="logo"><img src="images/logo.png" width="193" height="60" alt="logo" /></div>
        <div class="place"><p>北京</p></div>
        <div class="nav">
        	<div class="navtop">
        	<a href="#" class="log">登录</a>
            <a href="#" class="log sign">注册</a>
            <p>客服热线&nbsp;&nbsp;&nbsp;400&nbsp;-&nbsp;0000&nbsp;-&nbsp;000</p>
            </div>
            <div class="line"></div>
            <a href="#" class="xz"><div class="xzimg"><img src="images/gl.png" width="21" height="21" alt="gl"/></div><p>选址攻略</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="images/gw.png" width="21" height="21" alt="gl"/></div><p>选址顾问</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="images/jy.png" width="21" height="21" alt="gl"/></div><p>选址建议</p></a>
            
        </div> 
        </div>
        <div class="xfdiv">
        <div class="xf">
            <a href="#" class="xz3"><div class="wtxz"><img src="images/wtxz.png" width="20" height="20" alt="wtxz" /></div><p>委托选址</p></a>
            <a href="#" class="xz3 xz4"><div class="wtxz"><img src="images/fbfy.png" width="20" height="20" alt="wtxz" /></div><p>发布房源</p></a>
            <a href="#" class="xz3 xz4"><div class="wtxz"><img src="images/xzxq.png" width="20" height="20" alt="wtxz" /></div><p>选址需求</p></a>
          <a href="#" class="xz3 xz4"><div class="wtxz"><img src="images/wytw.png" width="20" height="20" alt="wtxz" /></div><p>我要提问</p></a>
            <a href="#" class="xz3 xz4"><div class="wtxz"><img src="images/gfwx.png" width="28" height="20" alt="gfwx" /></div><p>我要提问</p></a>
        </div>
        </div>
        <div class="search">
        	<div class="snav">
            	<ul>
                	<li><a href="#">独栋</a></li>
                    <li><a href="#">写字楼</a></li>
                    <li><a href="#">众创空间</a></li>
                    <li><a href="#">厂房</a></li>
                    <li><a href="#">商铺</a></li>
                    <li><a href="#">土地</a></li>
                </ul>
            </div>
            <form>
            	<input type="text" value="请输入盘源名称、商圈或地点" class="searchtext">
                <input type="button" value="开始搜索" class="searchbutton">
            </form>
        </div>
        <div class="bannerc">
        <div class="bannerchange"><img src="images/bannerc_h.png" width="10" height="10" alt="bc" /></div>
    	<div class="bannerchange"><img src="images/bannerc.png" width="10" height="10" alt="bc" /></div>
        <div class="bannerchange"><img src="images/bannerc.png" width="10" height="10" alt="bc" /></div>
        <div class="bannerchange"><img src="images/bannerc.png" width="10" height="10" alt="bc" /></div>
        <div class="bannerchange"><img src="images/bannerc.png" width="10" height="10" alt="bc" /></div>
    	</div>
        <div class="b_nav">
        	<ul>
            	<li class="bnli"><a href="#" class="bnfirst">主页</a></li>
                <li class="bnli"><a href="#" class="bnfirst2">独栋</a></li>
                <li class="bnli"><a href="#" class="bnfirst2">写字楼</a></li>
                <li class="bnli"><a href="#" class="bnfirst2">众创空间</a></li>
                <li class="bnli"><a href="#" class="bnfirst2">厂房</a></li>
                <li class="bnli"><a href="#" class="bnfirst2">商铺</a></li>
                <li class="bnlast"><a href="#" class="bnfirst2">土地</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="mybody">
  <div class="ctop">
    	<div class="ctop1">
   	  		<img src="images/dtzf.png" width="90" height="90" alt="dtzf" /> 
        	<h1>地图找房</h1>
        </div>
        <div class="ctop1 ctop2 ctop3">
   	  		<img src="images/yhfy.png" width="90" height="90" alt="dtzf" /> 
        	<h1>优惠房源</h1>
        </div>
        <div class="ctop1 ctop2">
   	  		<img src="images/zcjd.png" width="90" height="90" alt="dtzf" /> 
        	<h1>政策解读</h1>
        </div>
        <div class="ctop1 ctop2 ctop3">
   	  		<img src="images/qyfw.png" width="90" height="90" alt="dtzf" /> 
        	<h1>企业服务</h1>
        </div>
  </div>
  <div class="rdzx">
  	<h1 class="title">热点资讯</h1>
  	<div class="rdzximg"><p><a href="#">热追踪&nbsp;|&nbsp;中国十大城市租房成本在这里</a></p><a href="#"><img src="images/rdzx.png" width="400" height="250" alt="rdzx" /></a></div>
    <div class="rdzxright">
    	<h1><a href="#" class="rdtit">回望“副中心”大事记 北京城市副中心“三级跳”</a><a href="#" class="ckgd">查看更多&nbsp;>></a></h1>
        <ul>
        	<li><a href="#">[热点] 利好停不下来 燕郊上榜《京津冀产业转移指南》</a><span>2016-07-01</span></li>
            <li><a href="#">[问答] 各国工作几年可以购买一套房</a><span>2016-07-01</span></li>
            <li><a href="#">[热点] 急！买房后女友突然入狱 收房无望</a><span>2016-07-01</span></li>
            <li><a href="#">[百科] 二手房商住两用 房怎么缴税</a><span>2016-07-01</span></li>
            <li><a href="#">[热点] 我可以不买学区房么？</a><span>2016-07-01</span></li>
        </ul>
    </div>
  </div>
  <div class="xzzc">
  	<div class="xzl">
    	<h1 class="title">选址政策<a href="#" class="ckgd ckgd2">查看更多&nbsp;>></a></h1>
        <div class="xzimg">
   	    <a href="#"><img src="images/xzzc.png" width="280" height="181" alt="xzzc" /> </a>
        <a href="#"><img src="images/xzzc.png" width="280" height="181" alt="xzzc" / class="xzimg2"></a>
        </div>
        <ul>
        	<li><a href="#">[热点] 利好停不下来 燕郊上榜《京津冀产业转移指南》</a><span>2016-07-01</span></li>
            <li><a href="#">[问答] 各国工作几年可以购买一套房</a><span>2016-07-01</span></li>
            <li><a href="#">[热点] 急！买房后女友突然入狱 收房无望</a><span>2016-07-01</span></li>
            <li><a href="#">[百科] 二手房商住两用 房怎么缴税</a><span>2016-07-01</span></li>
            <li><a href="#">[热点] 我可以不买学区房么？</a><span>2016-07-01</span></li>
        </ul>
    </div>
    <div class="xzl xzr">
    	<h1 class="title">选址百科<a href="#" class="ckgd ckgd2">查看更多&nbsp;>></a></h1>
        <div class="xzimg">
   	    <a href="#"><img src="images/xzzc.png" width="280" height="181" alt="xzzc" /> </a>
        <a href="#"><img src="images/xzzc.png" width="280" height="181" alt="xzzc" / class="xzimg2"></a>
        </div>
        <ul>
        	<li><a href="#">[热点] 利好停不下来 燕郊上榜《京津冀产业转移指南》</a><span>2016-07-01</span></li>
            <li><a href="#">[问答] 各国工作几年可以购买一套房</a><span>2016-07-01</span></li>
            <li><a href="#">[热点] 急！买房后女友突然入狱 收房无望</a><span>2016-07-01</span></li>
            <li><a href="#">[百科] 二手房商住两用 房怎么缴税</a><span>2016-07-01</span></li>
            <li><a href="#">[热点] 我可以不买学区房么？</a><span>2016-07-01</span></li>
        </ul>
    </div>
  </div>
  <div class="ggw"><a href="#"><img src="images/ggw.png" width="1200" height="100" alt="ggw" /></a></div>
  <div class="lp">
  	<h1 class="title2">楼盘</h1>
    <ul>
    	<li><a href="#" class="lphover">独栋</a></li>
        <li><a href="#" class="lpli">写字楼</a></li>
        <li><a href="#" class="lpli"></a></li>
        <li><a href="#" class="lpli">独栋</a></li>
        <li><a href="#" class="lpli">独栋</a></li>
        <li><a href="#" class="lpli">独栋</a></li>
        <li><a href="#" class="lpli">独栋</a></li>
    </ul>
    <div class="lpimg">
   	  <div class="lpimg1"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp1.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">尚峯壹號</a><span>25000/平</span></p><a href="#"><img src="images/lp2.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">京投银泰檀香府</a><span>价格待定</span></p><a href="#"><img src="images/lp3.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp4.png" width="277" height="201" alt="lp" /></a></div>
    </div>
    <div class="lpimg lpimg3">
   	  <div class="lpimg1"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp3.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp4.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp1.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp2.png" width="277" height="201" alt="lp" /></a></div>
    </div>
  </div>
  <div class="ggw"><a href="#"><img src="images/ggw.png" width="1200" height="100" alt="ggw" /></a></div>
  <div class="lp">
  	<h1 class="title2 title3">房源</h1>
    <ul>
    	<li><a href="#" class="lphover">独栋</a></li>
        <li><a href="#" class="lpli">写字楼</a></li>
        <li><a href="#" class="lpli"></a></li>
        <li><a href="#" class="lpli">独栋</a></li>
        <li><a href="#" class="lpli">独栋</a></li>
        <li><a href="#" class="lpli">独栋</a></li>
        <li><a href="#" class="lpli">独栋</a></li>
    </ul>
    <div class="lpimg">
   	   <div class="lpimg1"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp1.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">尚峯壹號</a><span>25000/平</span></p><a href="#"><img src="images/lp2.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">京投银泰檀香府</a><span>价格待定</span></p><a href="#"><img src="images/lp3.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp4.png" width="277" height="201" alt="lp" /></a></div>
    </div>
    <div class="lpimg lpimg3">
   	  <div class="lpimg1"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp3.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp4.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp1.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="images/lp2.png" width="277" height="201" alt="lp" /></a></div>
    </div>
  </div>
  <div class="ggw"><a href="#"><img src="images/ggw2.png" width="1200" height="200" alt="ggw" /></a></div>
</div>
<div class="footer">
	<div class="mybody">
	<div class="ewm"><img src="images/ewm.jpg" width="110" height="110" alt="ewm" /><p>关注选址微信公众号</p></div>
    <div class="footermiddle">
    <ul>
    	<li><a href="#" class="footernav">关于我们</a></li>
        <li><a href="#" class="footernav footernav2">联系我们</a></li>
        <li><a href="#" class="footernav footernav2">平台规则</a></li>
        <li><a href="#" class="footernav footernav2">意见反馈</a></li>
    </ul>
	<p class="bq">版权所有 2016 选址中国有限公司 保留一切权利 京ICP备111111111号</p>
    <p class="dh">联系电话：400-000-000</p>
    </div>
    <div class="footermiddle footerr">
    	<a href="#" class="footernav">友情链接</a>
        <ul>
    	<li><a href="#" class="yqlj">瑞凡特（北京）科技有限公司</a></li>
        <li><a href="#" class="yqlj yqlj2">北京写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">上海写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
    	</ul>
    </div>
    </div>
</div>
</body>
</html>
