<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/index.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<title>easyStudy</title>
</head>
<body>
<div class="header">
	<div class="mybody">
    <div class="headtop">
    	<div class="logo"><img src="__PUBLIC__/images/logo.png" width="193" height="60" alt="logo" /></div>
        <div class="nav">
        	<div class="navtop">
        	<a href="#" class="log">登录</a>
            <a href="#" class="log sign">注册</a>
            <p>客服热线&nbsp;&nbsp;&nbsp;400&nbsp;-&nbsp;0000&nbsp;-&nbsp;000</p>
            </div>
            <div class="line"></div>
            <a href="#" class="xz"><div class="xzimg"><img src="__PUBLIC__/images/gl.png" width="21" height="21" alt="gl"/></div><p>比赛攻略</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="__PUBLIC__/images/gw.png" width="21" height="21" alt="gl"/></div><p>考试顾问</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="__PUBLIC__/images/jy.png" width="21" height="21" alt="gl"/></div><p>学习建议</p></a>
            
        </div> 
        </div>
        <div class="xfdiv">
        <div class="xf">
            <a href="#" class="xz3"><div class="wtxz"><img src="__PUBLIC__/images/wtxz.png" width="20" height="20" alt="wtxz" /></div><p>考试助手</p></a>
            <a href="#" class="xz3 xz4"><div class="wtxz"><img src="__PUBLIC__/images/fbfy.png" width="20" height="20" alt="wtxz" /></div><p>比赛提醒</p></a>
            <a href="#" class="xz3 xz4"><div class="wtxz"><img src="__PUBLIC__/images/xzxq.png" width="20" height="20" alt="wtxz" /></div><p>论坛交流</p></a>
          <a href="#" class="xz3 xz4"><div class="wtxz"><img src="__PUBLIC__/images/wytw.png" width="20" height="20" alt="wtxz" /></div><p>疑难解答</p></a>
            <a href="#" class="xz3 xz4"><div class="wtxz"><img src="__PUBLIC__/images/gfwx.png" width="28" height="20" alt="gfwx" /></div><p>官方微信</p></a>
        </div>
        </div>
        <div class="search">
            <form>
            	<input type="text" value="请输入考试或比赛关键字" class="searchtext">
                <input type="button" value="开始搜索" class="searchbutton">
            </form>
        </div>
        <div class="bannerc">
        <div class="bannerchange"><img src="__PUBLIC__/images/bannerc_h.png" width="10" height="10" alt="bc" /></div>
    	<div class="bannerchange"><img src="__PUBLIC__/images/bannerc.png" width="10" height="10" alt="bc" /></div>
        <div class="bannerchange"><img src="__PUBLIC__/images/bannerc.png" width="10" height="10" alt="bc" /></div>
        <div class="bannerchange"><img src="__PUBLIC__/images/bannerc.png" width="10" height="10" alt="bc" /></div>
        <div class="bannerchange"><img src="__PUBLIC__/images/bannerc.png" width="10" height="10" alt="bc" /></div>
    	</div>
        <div class="b_nav">
        	<ul>
            	<li class="bnli"><a href="#" class="bnfirst">首页</a></li>
                <li class="bnli"><a href="#" class="bnfirst2">考证攻略</a></li>
                <li class="bnli"><a href="#" class="bnfirst2">比赛提示</a></li>
                <li class="bnli"><a href="#" class="bnfirst2">励志帖子</a></li>
                <li class="bnli"><a href="#" class="bnfirst2">易学助手</a></li>
                <li class="bnli"><a href="#" class="bnfirst2">易学助手</a></li>
                <li class="bnlast"><a href="#" class="bnfirst2">易学助手</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="mybody">
  <div class="ctop">
    	<div class="ctop1">
   	  		<img src="__PUBLIC__/images/dtzf.png" width="90" height="90" alt="dtzf" /> 
        	<h1>易学助手</h1>
        </div>
        <div class="ctop1 ctop2 ctop3">
   	  		<img src="__PUBLIC__/images/yhfy.png" width="90" height="90" alt="dtzf" /> 
        	<h1>易学助手</h1>
        </div>
        <div class="ctop1 ctop2">
   	  		<img src="__PUBLIC__/images/zcjd.png" width="90" height="90" alt="dtzf" /> 
        	<h1>易学助手</h1>
        </div>
        <div class="ctop1 ctop2 ctop3">
   	  		<img src="__PUBLIC__/images/qyfw.png" width="90" height="90" alt="dtzf" /> 
        	<h1>易学助手</h1>
        </div>
  </div>
  <div class="rdzx">
  	<h1 class="title">热点资讯</h1>
  	<div class="rdzximg"><a href="#"><img src="__PUBLIC__/images/rdzx.png" width="400" height="250" alt="rdzx" /></a></div>
    <div class="rdzxright">
    	<h1><a href="#" class="rdtit">中国创翼（2015）青年创业创新大赛</a><a href="#" class="ckgd">查看更多&nbsp;>></a></h1>
        <ul>
        	<li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-11-03</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-11-03</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-11-03</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-11-03</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-11-03</span></li>
        </ul>
    </div>
  </div>
  <div class="xzzc">
  	<div class="xzl">
    	<h1 class="title">考证政策<a href="#" class="ckgd ckgd2">查看更多&nbsp;>></a></h1>
        <div class="xzimg">
   	    <a href="#"><img src="__PUBLIC__/images/xzzc.png" width="280" height="181" alt="xzzc" /> </a>
        <a href="#"><img src="__PUBLIC__/images/xzzc.png" width="280" height="181" alt="xzzc" / class="xzimg2"></a>
        </div>
        <ul>
        	<li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-07-01</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-07-01</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-07-01</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-07-01</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-07-01</span></li>
        </ul>
    </div>
    <div class="xzl xzr">
    	<h1 class="title">比赛信息<a href="#" class="ckgd ckgd2">查看更多&nbsp;>></a></h1>
        <div class="xzimg">
   	    <a href="#"><img src="__PUBLIC__/images/xzzc.png" width="280" height="181" alt="xzzc" /> </a>
        <a href="#"><img src="__PUBLIC__/images/xzzc.png" width="280" height="181" alt="xzzc" / class="xzimg2"></a>
        </div>
        <ul>
        	<li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-07-01</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-07-01</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-07-01</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-07-01</span></li>
            <li><a href="#">中国创翼（2015）青年创业创新大赛</a><span>2016-07-01</span></li>
        </ul>
    </div>
  </div>
  <div class="lp">
  	<h1 class="title2">比赛</h1>
    <ul>
    	<li><a href="#" class="lphover">星期一</a></li>
        <li><a href="#" class="lpli">星期二</a></li>
        <li><a href="#" class="lpli"></a></li>
        <li><a href="#" class="lpli">星期三</a></li>
        <li><a href="#" class="lpli">星期四</a></li>
        <li><a href="#" class="lpli">星期五</a></li>
        <li><a href="#" class="lpli">星期六</a></li>
        <li><a href="#" class="lpli">星期日</a></li>
    </ul>
    <div class="lpimg">
   	  <div class="lpimg1"><p><a href="#">中国创翼</a><span>2016年11月3日</span></p><a href="#"><img src="__PUBLIC__/images/lp1.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国创翼</a><span>2016年11月3日</span></p><a href="#"><img src="__PUBLIC__/images/lp2.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国创翼</a><span>2016年11月3日</span></p><a href="#"><img src="__PUBLIC__/images/lp3.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国创翼</a><span>2016年11月3日</span></p><a href="#"><img src="__PUBLIC__/images/lp4.png" width="277" height="201" alt="lp" /></a></div>
    </div>
    <div class="lpimg lpimg3">
   	  <div class="lpimg1"><p><a href="#">中国创翼</a><span>2016年11月3日</span></p><a href="#"><img src="__PUBLIC__/images/lp3.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国创翼</a><span>2016年11月3日</span></p><a href="#"><img src="__PUBLIC__/images/lp4.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国创翼</a><span>2016年11月3日</span></p><a href="#"><img src="__PUBLIC__/images/lp1.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国创翼</a><span>2016年11月3日</span></p><a href="#"><img src="__PUBLIC__/images/lp2.png" width="277" height="201" alt="lp" /></a></div>
    </div>
  </div>
  <div class="ggw"></div>
</div>
<div class="footer">
	<div class="mybody">
	<div class="ewm"><img src="__PUBLIC__/images/ewm.jpg" width="110" height="110" alt="ewm" /><p>关注estudy微信公众号</p></div>
    <div class="footermiddle">
    <ul>
    	<li><a href="#" class="footernav">关于我们</a></li>
        <li><a href="#" class="footernav footernav2">联系我们</a></li>
        <li><a href="#" class="footernav footernav2">意见反馈</a></li>
    </ul>
	<p class="bq">版权所有 2016 易学助手有限公司 保留一切权利 京ICP备111111111号</p>
    <p class="dh">联系电话：400-000-000</p>
    </div>
    <div class="footermiddle footerr">
    	<a href="#" class="footernav">友情链接</a>
        <ul>
    	<li><a href="#" class="yqlj">易学助手（石家庄）科技有限公司</a></li>
        <li><a href="#" class="yqlj yqlj2">北京比赛提示</a></li>
        <li><a href="#" class="yqlj yqlj2">北京比赛提示</a></li>
        <li><a href="#" class="yqlj yqlj2">北京比赛提示</a></li>
        <li><a href="#" class="yqlj">北京比赛提示</a></li>
        <li><a href="#" class="yqlj yqlj2">北京比赛提示</a></li>
        <li><a href="#" class="yqlj yqlj2">北京比赛提示</a></li>
        <li><a href="#" class="yqlj yqlj2">北京比赛提示</a></li>
    	</ul>
    </div>
    </div>
</div>
</body>
</html>
