<div class="bjui-pageHeader" style="background-color:#fefefe; border-bottom:none;">
<form data-toggle="ajaxsearch" data-options="{searchDatagrid:$.CurrentNavtab.find('#datagrid-test-filter')}">
    <fieldset>
        <legend style="font-weight:normal;">论坛搜索：</legend>
        <div style="margin:0; padding:1px 5px 5px;">         
            <span>论坛标题：</span>
            <input type="text" name="obj.name" class="form-control" size="15"> 
            <div class="btn-group">
                <button type="submit" class="btn-green" data-icon="search">开始搜索！</button>
                <button type="reset" class="btn-orange" data-icon="times">重置</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
<div class="bjui-pageContent" >
    <table class="table table-bordered" id="datagrid-test-filter" data-toggle="datagrid" data-options="{
        height: '100%',
        showToolbar: true,
        toolbarItem: 'add,edit,del',
        jsonPrefix: 'obj',
        editMode: {dialog:{width:'800',height:500,title:'编辑信息',mask:true}},
        paging: {pageSize:60},
        showCheckboxcol: true,
        linenumberAll: true,
    }">
        <thead>
            <tr>
                <th align="center" width="90">序号</th>
                <th align="center">分类</th>
                <th align="center">作者</th>
                <th align="center">论坛标题</th>
                <th align="center">发布时间</th>
                <th align="center">操作</t
                h>
            </tr>
            <volist name="forum" id="vo">
            <tr id="pagination_test_ul1">
                <td align="center">{$i}</td>
                <td align="center">{$vo.typename}</td>
                <td align="center">{$vo.username}</td>
                <td align="center"> {$vo.title}</td>
                <td align="center"> {$vo.posttime|substr=0,10}</td>
                <td align="center">
                    <button type="button" class="btn-green" data-toggle="dialog" data-options="{id:'', url:'__MODULE__/forum/questions/forumid/{$vo.forumid}', title:'{$vo.title}', max:true}">查看</button>&nbsp;
                    <button type="button" class="btn-red" data-toggle="alertmsg" target="ajaxTodo"  data-options="{type:'confirm', msg:'你确定要删除吗？', okCall:function(){window.open('__MODULE__/forum/delete/forumid/{$vo.forumid}');window.close();}}">删除</button>
                </td>
            </tr>
            </volist>
        </thead>
    </table>
    <div data-toggle="pagination" data-options="{total:18, pageCurrent:1, form:'#pagination_test_searchform'}">
        </div>
</div>


