<!--
作者：李小雨
日期：2016.12.11
描述：帖子后台内容页
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="__PUBLIC__/assets/ico/favicon.ico"/>
		<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/css/questions_admin.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/css/forumlist.css" rel="stylesheet" type="text/css" />
		<title>论坛详情</title>
	</head>
	<body>
		<div class="content">
			<div class="mybody">
			    <div class="left">
				  <div class="question">
				      <div style="overflow:none;" class="qtop" >
				        	<h1><span>问题：</span>{$fcontent.title}</h1>
				       </div>
			            <div class="fl">
				        	<div class="ssfl">
				        		<img src="__PUBLIC__/images/ssfl.gif" width="15" height="15" alt="ssfl" />
				        		<span>所属分类:{$typename}</span>
				        	</div>
				            <div class="ssfl ssfl2">
				            	<img src="__PUBLIC__/images/sj.gif" width="15" height="15" alt="sj" /><span>时间：{$fcontent.posttime} </span>
				            </div>
				            <div class="ssfl ssfl2">
				            	<img src="__PUBLIC__/images/twz.gif" width="15" height="15" alt="zz" />
				            	<span>提问者：{$username}</span>
				            </div>
				            <div class="ssfl ssfl2">
				            	<span>阅读量：{$fcontent.readcount}</span>
				            </div>
			        	</div>
			        	<div class="qcontent">
				        	{$fcontent.content}
				       </div>
			        </div>
			        <div class="countanswer">
			        	<h4>共有{$count_comment}个回答</h4>
			        </div>
			        <ul class="contentul">
			        	<volist name="comment" id="vo">
				        	<li>
				            	<div class="lileft">
			                        <img src="http://estudy.csbroswer.cn/{$vo.avatar_url}" width="90" height="110" alt="head" />
			                    </div>
				                <div class="liright">
			                		<div class="rtop">
			                    		<span class="uname">姓名：{$vo.username}</span>
			                       		<div class="ssfl ssfl2 ssflul"><img src="__PUBLIC__/images/sj.gif" width="15" height="15" alt="sj" /><span>时间：{$vo.createtime}</span>
			                       		</div>
			                    	</div>
			                    	<div class="rtop">
			                    		<div class="hd"><span>回答：</span></div>
			                        	<div class="hdp">
			                        		<p>{$vo.forum_comment}</p>
			                       		</div>
			                    	</div>
				                </div>
				            </li>
			            </volist>
			        </ul>
			        <div class="page">{$pages}</div>
			    </div>
			</div>
		</div>
	</body>
</html>
