<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/bidlist.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/confirmdelete.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/js/confirmdelete.js"></script>
    <title>考证列表</title>
</head>
<body>
    <include file="Public/header.html" />
    <div class="content">
        <div class="mybody">
            <div class="bread">

                <span><a href="{:U('/')}">易学助手</a></span>
                >
                <a href="../../certificatelist">考证列表</a>
            </div>
            <div class="ss">
                <div class="search">
                    <form>
                        <input type="text" placeholder="请输入证件名称" class="searchtext">
                        <input type="button" value="开始搜索" class="searchbutton"></form>
                </div>
            </div>
            <div class="content">
                <ul class="contentul">
                    <volist name="certificate" id="vo">
                        <li>
                            <div class="list">
                                <div class="listleft">
                                    <h1>{$vo.cname}</h1>
                                    <div class="time">
                                        <img src="__PUBLIC__/images/time.gif" width="13" height="13" alt="time"/>
                                        <span class="sj">时间：{$vo.ctime}</span>
                                        <span class="qy">{$vo.keyword}</span>
                                        <span class="qy xzl">{$vo.keyword2}</span>
                                        <span class="qy qz">{$vo.keyword3}</span>
                                    </div>
                                    <div class="yusuan">
                                        <span>要求：{$vo.crequest}</span>
                                        <span class="yusuan2">报名费：{$vo.cfee} 元</span>
                                        <span class="yusuan2">
                                            官网：
                                            <a href="{$vo.murl}">{$vo.curl}</a>
                                        </span>
                                    </div>
                                    <!-- <p>
                                    比赛提示：河北师范大学2016年大学生课外学术科技创新项目、大学生创业计划项目自2016年3月开始申报以来，经过立项和中期检查等环节，现进入科研、科技项目结题评审阶段。
                                </p>
                                -->
                            </div>
                            <div class="listright">
                                <form>
                                    <input type="button" value="我要考取" onclick="return alertMsg('确定要参加吗？',1,'#');" class="button1">
                                    <input type="button" value="查看详情" class="button1 button2"  onclick="location.href='./content/cid/{$vo.cid}'"></form>
                            </div>
                        </div>
                    </li>
                </volist>
            </ul>
            <div class="page">
                <ul>
                    <li class="up">
                        <a href="#">上一页</a>
                    </li>
                    <li class="now">1</li>
                    <li class="num">
                        <a href="#">2</a>
                    </li>
                    <li class="num">
                        <a href="#">3</a>
                    </li>
                    <li class="num">
                        <a href="#">4</a>
                    </li>
                    <li class="num">
                        <a href="#">5</a>
                    </li>
                    <li>...</li>
                    <li class="num">
                        <a href="#">8</a>
                    </li>
                    <li class="up">
                        <a href="#">下一页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer.html" />
</body>
</html>
