<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/public.css" rel="stylesheet" type="text/css" />
<link href="../../css/head.css" rel="stylesheet" type="text/css" />
<link href="../../css/personal_left.css" rel="stylesheet" type="text/css" />
<link href="../../css/personal_form.css" rel="stylesheet" type="text/css" />
<title>房源管理-房源发布</title>
</head>
<body>
<div class="header">
	<div class="mybody">
    	<div class="logo"><img src="../../images/logo2.png" width="193" height="60" alt="logo" /></div>
        <div class="place"><p>北京</p></div>
        <div class="nav">
        	<div class="navtop">
        	<a href="#" class="log">登录</a>
            <a href="#" class="log sign">注册</a>
            <p>客服热线&nbsp;&nbsp;&nbsp;400&nbsp;-&nbsp;0000&nbsp;-&nbsp;000</p>
            </div>
            <div class="line"></div>
            <a href="#" class="xz"><div class="xzimg"><img src="../../images/gl2.png" width="21" height="21" alt="gl"/></div><p>选址攻略</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="../../images/gw2.png" width="21" height="21" alt="gl"/></div><p>选址顾问</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="../../images/jy2.png" width="21" height="21" alt="gl"/></div><p>选址建议</p></a>
            
        </div>
    </div>

</div>

<!--个人中心房源管理-->
<div class="content">
	<div class="mybody">
    	<div class="bread"><span>选址中国</span> > <a href="#">个人中心</a> > <a href="#">房源管理</a> > <a href="#">房源发布</a></div>
		<!--个人中心left-->
        <div class="personal_left">
        	<div class="user">
            	<a href="#"><img src="../../images/user.gif" width="150" height="150" alt="user" /></a>
                <p>欢迎你，王子文<br /><a href="#">申请成为认证经纪人</a></p>
            </div>
            <ul class="left_nav">
                	<li><a href="#">首页</a></li>
                    <li><a href="#">楼盘管理</a></li>
                    <li class="left_nav_now"><a href="#">房源管理</a></li>
                    <li><a href="#">选址攻略</a></li>
                    <li class="person_nav">个人管理
                    	<ul>
                        	<li><a href="#">认证管理</a></li>
                        	<li><a href="#">经验管理</a></li>
                        	<li><a href="#">个人信息管理</a></li>
                    	</ul></li>
                    <li><a href="#">消息中心</a></li>
                    <li><a href="#">投标管理</a></li>
                    <li><a href="#">委托管理</a></li>
                    <li><a href="#">我的收藏</a></li>
			</ul>    	
        </div>
        <!--个人中心right-->
        <div class="personal_form_right form_bg">
        	<h1 class="h1">项目基础信息<span>（*以下内容均为必填项）</span></h1>
            <div class="form2">
            	<form action="">
                	<table  cellspacing="16">
                    	<tr>
                        	<td class="tit">项目名称</td>
                            <td colspan="3" class="text1"><input type="text" value="" /></td>
                            <td class="tit">联系人</td>
                            <td colspan="3" class="text1"><input type="text" value="" /><span>&nbsp;&nbsp;*</span></td>
                        </tr>
                        <tr>
                        	<td>标题</td>
                            <td colspan="3" class="text1"><input type="text" value="" /></td>
                            <td>联系电话</td>
                            <td colspan="3" class="text1"><input type="text" value="" /><span>&nbsp;&nbsp;*</span></td>
                    	</tr>
                        <tr>
                        	<td>地址</td>
                            <td colspan="3" class="text1"><input type="text" value="" /></td>
                            <td>代理政策</td>
                            <td colspan="3" class="text1"><input type="text" value="" /><span>&nbsp;&nbsp;*</span></td>
                    	</tr>
                        <tr>
                        	<td>省</td>
                            <td class="select1"><select name=""><option value="0">新疆维吾尔自治区</option> </select></td>
                            <td class="tit3">市</td>
                            <td class="select2"><select name=""><option value="0">北京</option> </select></td>
                            <td>区县</td>
                            <td class="select3"><select name=""><option value="0">朝阳</option> </select></td>
                            <td>商圈</td>
                            <td class="select3"><select name=""><option value="0">朝阳大悦城</option> </select></td>
                        </tr>
                        <tr>
                        	<td>楼座</td>
                            <td class="text2"><input type="text" value="" /></td>
                            <td>楼层</td>
                            <td class="text3"><input type="text" value="" /></td>
                            <td>面积</td>
                            <td class="text4"><input type="text" value="" /></td>
                            <td colspan="2">平米<span>&nbsp;&nbsp;*</span></td>
                        </tr>
                        <tr>
                        	<td>价格</td>
                            <td class="text2"><input type="text" value="" /></td>
                            <td>单位</td>
                            <td class="select2"><select name=""><option value="0">元/平米/天</option> </select></td>
                            <td>付款方式</td>
                            <td class="select4">押&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name=""><option value="0"> </option> </select></td>
                            <td>付</td>
                            <td class="select4"><select name=""><option value="0"> </option> </select><span>&nbsp;&nbsp;*</span></td>
                        </tr>
                        <tr>
                        	<td>功能</td>
                            <td colspan="7"><ul>
                            	<li><input name="" type="checkbox" value="" />&nbsp;&nbsp;孵化</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;办公</li>
                                
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;存储</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;科研</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;生产<span>&nbsp;&nbsp;*</span></li>
                                </ul></td>
                        </tr>
                        <tr>
                        	<td>租售形式</td>
                            <td colspan="7"><ul>
                            	<li><input name="" type="checkbox" value="" />&nbsp;&nbsp;出租</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;出售</li>
                                
                                <li>&nbsp;</li>
                                <li>装修等级</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;毛坯</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;简装</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;精装<span>&nbsp;&nbsp;*</span></li>
                                </ul></td>
                        </tr>
                        <tr>
                        	<td>价格包含</td>
                            <td colspan="7"><ul>
                            	<li><input name="" type="checkbox" value="" />&nbsp;&nbsp;物业费</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;取暖费</li>
                                
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;车位费</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;空调费</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;宽带费</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;发票税费</li>
                                </ul></td>
                        </tr>
                        <tr>
                        	<td>入驻时间</td>
                            <td colspan="7"><ul>
                            	<li><input name="" type="checkbox" value="" />&nbsp;&nbsp;随时</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;一个月</li>
                                
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;两个月</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;三个月</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;四个月</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;五个月</li>
                                <li><input name="" type="checkbox" value="" />&nbsp;&nbsp;六个月</li>
                                </ul></td>
                        </tr>
                        <tr>
                        	<td>项目图片</td>
                            <td rowspan="3" colspan="7">
                            	<a href="#"><img src="../../images/img1.gif" width="190" height="140"  /></a>
                                <a href="#"><img src="../../images/img2.gif" width="190" height="140"  /></a>
                                <a href="#"><img src="../../images/img3.gif" width="190" height="140"  /></a>
                                <a href="#"><img src="../../images/l+.gif" width="190" height="140"  /></a>
                            </td>
                        </tr>
                        <tr>
                        	<td>&nbsp;</td>
                        </tr>
                        <tr>
                        	<td>&nbsp;</td>
                        </tr>
                        <tr>
                    		<td colspan="8" class="button"><input type="button" value="提交" name="" /></td>
                    	</tr>
                    </table>
                </form>
            </div>
        </div>
	</div>
</div>

<div class="footer">
	<div class="mybody">
	<div class="ewm"><img src="../..	/images/ewm.jpg" width="110" height="110" alt="ewm" /><p>关注选址微信公众号</p></div>
    <div class="footermiddle">
    <ul>
    	<li><a href="#" class="footernav">关于我们</a></li>
        <li><a href="#" class="footernav footernav2">联系我们</a></li>
        <li><a href="#" class="footernav footernav2">平台规则</a></li>
        <li><a href="#" class="footernav footernav2">意见反馈</a></li>
    </ul>
	<p class="bq">版权所有 2016 选址中国有限公司 保留一切权利 京ICP备111111111号</p>
    <p class="dh">联系电话：400-000-000</p>
    </div>
    <div class="footermiddle footerr">
    	<a href="#" class="footernav">友情链接</a>
        <ul>
    	<li><a href="#" class="yqlj">瑞凡特（北京）科技有限公司</a></li>
        <li><a href="#" class="yqlj yqlj2">北京写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">上海写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
    	</ul>
    </div>
    </div>
</div>
</body>
</html>
