<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/css/forumlist.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
	<title>论坛</title>
</head>
<body>
<!--首部导航栏-->
<include file="Public/header.html"/>
<div class="content">
<div class="mybody">
	<div class="bread"><a href="{:U('/')}">易学助手</a> > <a href="{:U('/home/luntan/')}">论坛</a></div>
    <div class="left">
    	<div class="search">
    	<form>
            <input type="text" value="请输入论坛名称或话题" class="searchtext">
            <input type="button" value="开始搜索" class="searchbutton">
        </form>
   		</div>
        <div class="lp">
    	<ul>
    		<li><a href="#" class="lphover">考证</a></li>
            <li><a href="#" class="lpli">比赛</a></li>
        	<li><a href="#" class="lpli">生活</a></li>
        	<li><a href="#" class="lpli">大杂烩</a></li>
        	<li><a href="#" class="lpli">意见反馈</a></li>
    	</ul>
        </div>
        <ul class="proul">
        	<volist name="forum" id="vo">
	        	<li>
	            	<div class="litop">
	                	<h1><a href="/estudy/code/index.php/home/luntan/questions/forumid/{$vo.forumid}">{$vo.title}</a></h1>
	                    <!--<h2>刚入学的小萌新求指导</h2>-->
	                </div>
	                <p><a href="/estudy/code/index.php/home/luntan/questions/forumid/{$vo.forumid}">&nbsp;&nbsp;{$vo.content}</a></p>
	                <div class="forum-footer">
	               	    	<img src="__PUBLIC__/images/time.gif" width="13" height="16" alt="time"/> 
	                        <span class="forum-time">时间：{$vo.posttime}</span>
	                        <span class="read-count">阅读量：{$vo.readcount}</span>
	                </div>
	            </li>
	        </volist>
        </ul>
        <div class="page">{$pages}</div>
    </div>
    <div class="right">
    	<div class="righttop">
        	<h1 class="title">论坛热议榜<a href="{:U('/home/luntan/questions')}" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
	        	<li><a href="{:U('/home/luntan/questions')}">大一新生应该怎样准备大学生活？</a><span>01-01</span></li>
	            <li><a href="{:U('/home/luntan/questions')}">大一应该多参加什么类型的社团活动？</a><span>01-01</span></li>
	            <li><a href="#">大一的生活应该怎么度过才算不荒废？</a><span>01-01</span></li>
	            <li><a href="#">大一新生应该怎样准备大学生活？</a><span>01-01</span></li>
	            <li><a href="#">大一应该多参加什么类型的社团活动？</a><span>01-01</span></li>
	            <li><a href="#">大一的生活应该怎么度过才算不荒废？</a><span>01-01</span></li>
	            <li><a href="#">大一时候可是考哪些专业证件考试？</a><span>01-01</span></li>
        	</ul>
        </div>
       	<div class="righttop righttop2">
        	<h1 class="title title2">公告板<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="lpimg"><a href="#"><img src="__PUBLIC__/images/commitment001.jpg" width="220" height="100" alt="lp" /></a></div>
     		 <ul class="topul">
	        	<li><a href="#">违规论坛举报反映通道</a><span>01-01</span></li>
	            <li><a href="#">贴吧志愿者招募</a><span>01-01</span></li>
        	</ul>
      	</div>
      	<div class="righttop righttop2 righttop3">
      		<h1 class="title title2">论坛达人<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="xzdr">
       	    	<img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>王子文</h1>
                <a>和TA交流</a>
                </div>
                <h3>达人介绍</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人今年大四，就读于清华大学计算机专业。</p>
                </div>
            </div>
            <div class="xzdr xzdr2">
       	    	<img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>王子文</h1>
                <a>和TA交流</a>
                </div>
                <h3>达人介绍</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人今年大四，就读于清华大学计算机专业。</p>
                </div>
            </div>
             <div class="xzdr xzdr2">
       	    	<img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>王子文</h1>
                <a>和TA交流</a>
                </div>
                <h3>达人介绍</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人今年大四，就读于清华大学计算机专业。</p>
                </div>
            </div>
            <div class="xzdr xzdr2">
       	    	<img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>王子文</h1>
                <a>和TA交流</a>
                </div>
                <h3>达人介绍</h3>
               <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人今年大四，就读于清华大学计算机专业。</p>
                </div>
            </div>
      </div>
    </div>
</div>
</div>

<!--底部footer-->
<include file="Public/footer.html" />
</body>
</html>
