<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/css/forumlist.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
	<title>论坛</title>
</head>
<body>
<!--首部导航栏-->
<include file="Public/header.html"/>
<div class="content">
<div class="mybody">
	<div class="bread"><a href="{:U('/')}">易学助手</a> > <a href="{:U('/home/luntan/')}">论坛</a></div>
    <div class="left">
    	<div class="search">
    	<form>
            <input type="text" value="请输入论坛名称或话题" class="searchtext">
            <input type="button" value="开始搜索" class="searchbutton">
            <a href="#sub"><input type="button" value="我要发帖" class="postbutton"></a>
        </form>
   		</div>
        <div class="lp">
    	<ul>
    		<li><a href="#" class="lphover">考证</a></li>
            <li><a href="#" class="lpli">比赛</a></li>
        	<li><a href="#" class="lpli">生活</a></li>
        	<li><a href="#" class="lpli">大杂烩</a></li>
        	<li><a href="#" class="lpli">意见反馈</a></li>
    	</ul>
        </div>
        <ul class="proul">
        	<volist name="forum" id="vo">
	        	<li>
	            	<div class="litop">
	                	<h1><a href="/estudy/code/index.php/home/luntan/questions/forumid/{$vo.forumid}">{$vo.title}</a></h1>
	                    <!--<h2>刚入学的小萌新求指导</h2>-->
	                </div>
	                <p><a href="/estudy/code/index.php/home/luntan/questions/forumid/{$vo.forumid}">{$vo.content}</a></p>
	                <div class="forum-footer">
	               	    	<img src="__PUBLIC__/images/time.gif" width="13" height="16" alt="time"/> 
	                        <span class="forum-time">时间：{$vo.posttime}</span>
	                        <span class="read-count">阅读量：{$vo.readcount}</span>
	                </div>
	            </li>
	        </volist>
        </ul>
        <div class="page">{$pages}</div>
        <div class="clear"></div>
        <div class="post_forum">
        	<a name="sub"></a>
        	<div>
        		<img src="__PUBLIC__/images/post_forum.png">
        		<span>发表新帖</span>
        	</div>
        	<div>
        		<input type="text" value="请填写标题" class="post_title">
        	</div>
        	<div class="row-input">

            	<textarea name="mcontent" id="j_form_content" class="j-content" style="width: 700px;height: 30px;" data-toggle="kindeditor" data-minheight="150"></textarea>
       		 </div>
        	 <div>
        		<input type="button" value="发表" class="post_button">
        	</div>
        	<!--<ul class="proul">
        		<div id="tb_rich_poster_container" class="tb_rich_poster_container">
    <div id="rich_ueditor_tpl">
        <div id="tb_rich_poster" class="tb_rich_poster">
            <div class="j_bubble_container"></div>

            
                        <div class="poster_head clearfix">
                <div class="poster_head_text">
                                            <a class="add_thread_btn post_head_btn cur" title="发表新贴" href="javascript:;"><span  class="post_head_btn_icon post_head_btn_icon_post"></span>发表新贴</a>

                        

                        
                                                <a class="add_vote_btn post_head_btn" title="发起投票" target="_blank" href="/newvote/createvote?kw=%E5%91%A8%E5%86%AC%E9%9B%A8&ie=utf-8"><span  class="post_head_btn_icon post_head_btn_icon_vote"></span>发起投票</a>

                        
                    
                </div>

                                <div class="poster_head_surveillance j_surveillance">
                    发贴请遵守 <a href="/tb/eula.html" target="_blank" onclick="$.stats.track('post_agreement', 'poster')">贴吧协议及“七条底线”</a>
					<a href="javascript:;" id="frs_footer_tieba_report" class="btn_tousu fr post_head_tousu" data-checkun="un">贴吧投诉</a>                    <button type="button" class="poster_disable_float j_disable_float" title="停止浮动">停止浮动</button>
                </div>
            </div>
            
                        





			<div class="poster_body editor_wrapper">
                                <div class="poster_component title_container">
                    <div class="poster_title">标&nbsp;&nbsp;题:</div>
                    <div class="j_title_wrap">
                        <input type="text" class="editor_textfield editor_title ui_textfield j_title j_topic_sug_input" name="title" autocomplete="off" />
                        <span class="topic_add_btn j_topic_add_btn"></span>
                    </div>
                    <div class="poster_error j_error"></div>
                </div>
                
                
                                <div class="poster_component editor_content_wrapper ueditor_container">
                    <div class="poster_reply">内&nbsp;&nbsp;容:</div>
                    <div class="old_style_wrapper">
                        <div id="ueditor_replace" style="width: 700px; height: 220px;"></div>
                    </div>
                    <div class="poster_error j_error"></div>
                </div>

                                <div class="j_poster_signature poster_signature">
                    <label><input type="checkbox" class="j_use_signature"/> 使用签名档</label>&nbsp;
                    <span class="j_signature_wrapper signature_wrapper">
                        <select name="sign_id" class='j_sign_id'>

                        </select>
                        &nbsp;<a style="color:#0449BE" target="_blank" href="/i/sys/jump?type=signsetting">查看全部</a>
                    </span>
                </div>

                
                                <div class="poster_component editor_bottom_panel clearfix">
                    <div class="j_floating">
                        <button class="btn_default btn_middle j_submit poster_submit" title="Ctrl+Enter快捷发表">
                            发 表
                        </button>
                      
                    </div>
                </div>

            </div>


            
                                </div>
    </div>
</div>
	        	
        </ul>-->

        </div>
    </div>
    <div class="right">
    	<div class="righttop">
        	<h1 class="title">论坛热议榜<a href="{:U('/home/luntan/')}" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
            	<volist name="forum_hot" id="vo">
	        		<li><a href="/estudy/code/index.php/home/luntan/questions/forumid/{$vo.forumid}">{$vo.title}</a><span>{$vo.posttime}</span></li>
	            </volist>
        	</ul>
        </div>
       	<div class="righttop righttop2">
        	<h1 class="title title2">公告板<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="lpimg"><a href="#"><img src="__PUBLIC__/images/commitment001.jpg" width="220" height="100" alt="lp" /></a></div>
     		 <ul class="topul">
	        	<li><a href="#">违规论坛举报反映通道</a><span>01-01</span></li>
	            <li><a href="#">贴吧志愿者招募</a><span>01-01</span></li>
        	</ul>
      	</div>
      	<div class="righttop righttop2 righttop3">
      		<h1 class="title title2">论坛达人<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="xzdr">
       	    	<img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>王子文</h1>
                <a>和TA交流</a>
                </div>
                <h3>达人介绍</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人今年大四，就读于清华大学计算机专业。</p>
                </div>
            </div>
            <div class="xzdr xzdr2">
       	    	<img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>王子文</h1>
                <a>和TA交流</a>
                </div>
                <h3>达人介绍</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人今年大四，就读于清华大学计算机专业。</p>
                </div>
            </div>
             <div class="xzdr xzdr2">
       	    	<img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>王子文</h1>
                <a>和TA交流</a>
                </div>
                <h3>达人介绍</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人今年大四，就读于清华大学计算机专业。</p>
                </div>
            </div>
            <div class="xzdr xzdr2">
       	    	<img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>王子文</h1>
                <a>和TA交流</a>
                </div>
                <h3>达人介绍</h3>
               <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人今年大四，就读于清华大学计算机专业。</p>
                </div>
            </div>
      </div>
    </div>
</div>
</div>

<!--底部footer-->
<include file="Public/footer.html" />
</body>
</html>
