<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/login.css" rel="stylesheet" type="text/css" />
<title>用户登陆</title>
</head>
<body>
<include file="Public/header.html" />


<!--登录页-->
<div class="content">
	<div class="mybody">
    	<div class="bread"><span>选址中国</span> > <a href="#">用户登录</a></div>
		<!--登陆-->
        	<div class="search">
            	<div class="search1">
                	<h1><a href="#">普通登录</a> 丨 <span>验证码登录</span></h1>
                    <form action="">
                    	<select name=""><option value="">+86</option></select>
                        <input type="text" value="手机号码" class="tel" />
                        <input type="text" value="验证码" class="check" />
                        <input type="button" value="获取验证码" class="addcheck" />
                        <div id="u1476" class="ax_default link_button">
                        <div id="u1476_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1477" class="text" style="visibility: visible;">
                        <p><a href="#">没有账号？</a> <a href="#">忘记密码</a></p>
                        </div>
                        </div>
                        <input type="button" value="登  录" class="login_button" />       
                   </form>
                </div>	
                <!--第三方登录-->	
                <div class="search2">
                   <form>
                   <div id="u1549" class="text" style="visibility: visible;">
                   <p></p>
                   <p><span>使用第三方账号登录</span></p>
                   </div>
                   <table>
                    <tr>
                      <td width="150"><a href="#"><img src="__PUBLIC__/images/weixin.png" width="50" height="50" alt="gl"/></a></td>
                      <td width="150"><a href="#"><img src="__PUBLIC__/images/weibo.png" width="50" height="50" alt="gl"/></a></td>
                      <td width="150"><a href="#"><img src="__PUBLIC__/images/qq.png" width="50" height="50" alt="gl"/></a></td>
                    </tr>

                    </table>
                   </form>
                </div>
            </div>
        </div>
	</div>
</div>

<include file="Public/footer.html" />

</body>
</html>
