<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/login.css" rel="stylesheet" type="text/css" />
<title>用户注册</title>
</head>
<body>
<include file="Public/header.html" />

<!--登录页-->
<div class="content">
	<div class="mybody">
    	<div class="bread"><span>易学助手</span> > <a href="#">用户注册</a></div>
		<!--用户注册-->
        	<div class="search search1">
                    <form action="">
                    	<select name=""><option value="">+86</option></select>
                        <input type="text" value="手机号码" class="tel" />
                        <input type="text" value="验证码" class="check" />
                        <input type="button" value="获取验证码" class="addcheck" />
                        <input type="password" value="输入密码"  />
                        <input type="password" value="确认新密码"  />
                        <input name="" type="checkbox" value="" />&nbsp;&nbsp;已阅读并同意<a href="#">《易学助手的服务条款》</a>
                        <input type="button" value="注  册" class="login_button" />
                        </form>	
            </div>
        </div>
	</div>
</div>

<include file="Public/footer.html" />
</body>
</html>
