<div class="bjui-pageContent">

    <form action="__MODULE__/usermatch/content/username/{$umcontent.username}" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
        <div class="bjui-row col-3">
            <label class="row-label">比赛名称：{$mcontent.mname}</label>
            <br>
            <label class="row-label">所属类别：{$umcontent.umtype}</label>
            <br>
            <label class="row-label">比赛简介：{$umcontent.introduce}</label>
            <br></div>
        <br>
        <br>
        <h4>V2.0版本功能，即将上线，敬请期待</h4>
    </div>

</form>
