<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/public.css" rel="stylesheet" type="text/css" />
<link href="css/head.css" rel="stylesheet" type="text/css" />
<link href="css/personal_left.css" rel="stylesheet" type="text/css" />
<link href="css/consultant.css" rel="stylesheet" type="text/css" />
<title>选址顾问</title>
</head>
<body>
<div class="header">
	<div class="mybody">
    	<div class="logo"><img src="images/logo2.png" width="193" height="60" alt="logo" /></div>
        <div class="place"><p>北京</p></div>
        <div class="nav">
        	<div class="navtop">
        	<a href="#" class="log">登录</a>
            <a href="#" class="log sign">注册</a>
            <p>客服热线&nbsp;&nbsp;&nbsp;400&nbsp;-&nbsp;0000&nbsp;-&nbsp;000</p>
            </div>
            <div class="line"></div>
            <a href="#" class="xz"><div class="xzimg"><img src="images/gl2.png" width="21" height="21" alt="gl"/></div><p>选址攻略</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="images/gw2.png" width="21" height="21" alt="gl"/></div><p>选址顾问</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="images/jy2.png" width="21" height="21" alt="gl"/></div><p>选址建议</p></a>
            
        </div>
    </div>

</div>

<!--个人中心房源管理-->
<div class="content">
	<div class="mybody">
    	<div class="bread"><span>选址中国</span> > <a href="#">选址顾问</a></div>
		<!--个人中心left-->
        <div class="personal_left">
            <ul class="left_nav left_nav2">
                	<li class="left_nav_now"><a href="#">独栋</a></li>
                    <li><a href="#">写字楼</a></li>
                    <li><a href="#">众创空间</a></li>
                    <li><a href="#">厂房</a></li>
                    <li><a href="#">商铺</a></li>
                    <li><a href="#">土地</a></li>
			</ul>    	
        </div>
        <!--个人中心right-->
        <div class="personal_table_right">
            <div class="top">
            	<ul>
                	<li><a href="#">分类</a></li>
                    <li><a href="#" class="topnow">分类</a></li>
                    <li><a href="#">分类</a></li>
                    <li><a href="#">分类</a></li>
                    <li><a href="#">分类</a></li>
                </ul>
                <h1>分类介绍</h1>
                <p>文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试</p>
            </div>
			  <ul class="userul">
            	<li>
                	<div class="uerimg"><img src="images/cuser.gif" width="179" height="237" alt="user" /></div>
                    <div class="userp">
                    	<h1>王子文</h1>
                        <p>擅长方面：政策解读 等<br />
平台等级：<span class="level">lv<span class="lnum">3</span></span><br />
年限：<span class="year"><span class="lnum lnum2">4</span>年</span><br />
单位：选址中国<br />
个人介绍：历史成交31套, 独家委托0套,
最近30天带看24次</p>
					<a>联系TA</a>
                    </div>
                </li>
                <li>
                	<div class="uerimg"><img src="images/cuser.gif" width="179" height="237" alt="user" /></div>
                    <div class="userp">
                    	<h1>王子文</h1>
                        <p>擅长方面：政策解读 等<br />
平台等级：<span class="level">lv<span class="lnum">3</span></span><br />
年限：<span class="year"><span class="lnum lnum2">4</span>年</span><br />
单位：选址中国<br />
个人介绍：历史成交31套, 独家委托0套,
最近30天带看24次</p>
					<a>联系TA</a>
                    </div>
                </li>
                <li>
                	<div class="uerimg"><img src="images/cuser.gif" width="179" height="237" alt="user" /></div>
                    <div class="userp">
                    	<h1>王子文</h1>
                        <p>擅长方面：政策解读 等<br />
平台等级：<span class="level">lv<span class="lnum">3</span></span><br />
年限：<span class="year"><span class="lnum lnum2">4</span>年</span><br />
单位：选址中国<br />
个人介绍：历史成交31套, 独家委托0套,
最近30天带看24次</p>
					<a>联系TA</a>
                    </div>
                </li>
            </ul>
            <ul class="userul userul2">
            	<li>
                	<div class="uerimg"><img src="images/cuser.gif" width="179" height="237" alt="user" /></div>
                    <div class="userp">
                    	<h1>王子文</h1>
                        <p>擅长方面：政策解读 等<br />
平台等级：<span class="level">lv<span class="lnum">3</span></span><br />
年限：<span class="year"><span class="lnum lnum2">4</span>年</span><br />
单位：选址中国<br />
个人介绍：历史成交31套, 独家委托0套,
最近30天带看24次</p>
					<a>联系TA</a>
                    </div>
                </li>
                <li>
                	<div class="uerimg"><img src="images/cuser.gif" width="179" height="237" alt="user" /></div>
                    <div class="userp">
                    	<h1>王子文</h1>
                        <p>擅长方面：政策解读 等<br />
平台等级：<span class="level">lv<span class="lnum">3</span></span><br />
年限：<span class="year"><span class="lnum lnum2">4</span>年</span><br />
单位：选址中国<br />
个人介绍：历史成交31套, 独家委托0套,
最近30天带看24次</p>
					<a>联系TA</a>
                    </div>
                </li>
                <li>
                	<div class="uerimg"><img src="images/cuser.gif" width="179" height="237" alt="user" /></div>
                    <div class="userp">
                    	<h1>王子文</h1>
                        <p>擅长方面：政策解读 等<br />
平台等级：<span class="level">lv<span class="lnum">3</span></span><br />
年限：<span class="year"><span class="lnum lnum2">4</span>年</span><br />
单位：选址中国<br />
个人介绍：历史成交31套, 独家委托0套,
最近30天带看24次</p>
					<a>联系TA</a>
                    </div>
                </li>
            </ul>
            <div class="page">
            	<ul>
                	<li class="up"><a href="#">上一页</a></li>
                    <li class="now">1</li>
                    <li class="num"><a href="#">2</a></li>
                    <li class="num"><a href="#">3</a></li>
                    <li class="num"><a href="#">4</a></li>
                    <li class="num"><a href="#">5</a></li>
                    <li>...</li>
                    <li class="num"><a href="#">8</a></li>
                    <li class="up"><a href="#">下一页</a></li>
                </ul>
            </div>
        </div>
	</div>
</div>

<div class="footer">
	<div class="mybody">
	<div class="ewm"><img src="images/ewm.jpg" width="110" height="110" alt="ewm" /><p>关注选址微信公众号</p></div>
    <div class="footermiddle">
    <ul>
    	<li><a href="#" class="footernav">关于我们</a></li>
        <li><a href="#" class="footernav footernav2">联系我们</a></li>
        <li><a href="#" class="footernav footernav2">平台规则</a></li>
        <li><a href="#" class="footernav footernav2">意见反馈</a></li>
    </ul>
	<p class="bq">版权所有 2016 选址中国有限公司 保留一切权利 京ICP备111111111号</p>
    <p class="dh">联系电话：400-000-000</p>
    </div>
    <div class="footermiddle footerr">
    	<a href="#" class="footernav">友情链接</a>
        <ul>
    	<li><a href="#" class="yqlj">瑞凡特（北京）科技有限公司</a></li>
        <li><a href="#" class="yqlj yqlj2">北京写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">上海写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
    	</ul>
    </div>
    </div>
</div>
</body>
</html>
