<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/public.css" rel="stylesheet" type="text/css" />
<link href="css/head.css" rel="stylesheet" type="text/css" />
<link href="css/shoppage.css" rel="stylesheet" type="text/css" />
<title>店铺页面</title>
</head>
<body>
<div class="header">
	<div class="mybody">
    	<div class="logo"><img src="images/logo2.png" width="193" height="60" alt="logo" /></div>
        <div class="place"><p>北京</p></div>
        <div class="nav">
        	<div class="navtop">
        	<a href="#" class="log">登录</a>
            <a href="#" class="log sign">注册</a>
            <p>客服热线&nbsp;&nbsp;&nbsp;400&nbsp;-&nbsp;0000&nbsp;-&nbsp;000</p>
            </div>
            <div class="line"></div>
            <a href="#" class="xz"><div class="xzimg"><img src="images/gl2.png" width="21" height="21" alt="gl"/></div><p>选址攻略</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="images/gw2.png" width="21" height="21" alt="gl"/></div><p>选址顾问</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="images/jy2.png" width="21" height="21" alt="gl"/></div><p>选址建议</p></a>
            
        </div>
    </div>
</div>
<div class="content">
<div class="mybody">
	<div class="bread"><span>选址中国</span> > <a href="#">店铺页面</a></div>
	<div class="person">
    	<img src="images/shopuser.gif" width="207" height="272" alt="user" />
        <div class="personright">
        <h1>宋媛</h1>
        <a>招商人员</a>
        <div class="tel">
        	<h2><img src="images/tel.gif" width="24" height="22" alt="tel" />400&nbsp;1234&nbsp;4567</h2>
            <div class="year">
            	<h3>从业年限<span>1-3年</span></h3>
                <h3>专长<span>政策解读</span></h3>
                <h3 class="ht">发布房源<span>1000</span></h3>
                <h3 class="ht">级别<span>lv 4</span></h3>
            </div>
        </div>
        <div class="grjs">
            <h4>个人介绍</h4>
            <p>我是一名资深M10店经理，工作已有5年多的时间，连续4年公司精英社成员、百万经纪人，并荣获2015年首届亿元俱乐部成员，很喜欢这份工作，每成交一单都会让我充满成就感，客户对我的评价是真诚和用心，目前我主做木樨园、赵公口、刘家窑、方庄商圈的二手房及周边新房业务，如果您有买房或卖房需求，欢迎随时来电，我将以专业的知识为您提供购房建议，解答二手房交易的相关问题。</p>
            </div>
            <div class="button">
            	<form>
                	<input type="button" class="bluebtn" value="回答的问题">
                    <input type="button" class="bluebtn2" value="发布的攻略">
                </form>
            </div>
        </div>
    </div>
    <div class="fbfy">
    	<h1 class="title">发布房源</h1>
      <div class="lp">
    	<ul>
    		<li><a href="#" class="lphover">独栋</a></li>
            <li><a href="#" class="lpli">写字楼</a></li>
        	<li><a href="#" class="lpli">众创空间</a></li>
        	<li><a href="#" class="lpli">厂房</a></li>
        	<li><a href="#" class="lpli">商铺</a></li>
        	<li><a href="#" class="lpli">土地</a></li>
    	</ul>
        </div>
        <ul class="shoplist">
        	<li>
       	    	<img src="../选址中国页面/images/dpfy.gif" width="340" height="230" alt="dpfy" /> 
                <div class="spmiddle">
                <h1>酒仙桥新出项目&nbsp;可做商业办公&nbsp;签约时随时</h1>
                <h2>3.4 元/㎡/天</h2>
                <h3>北京市[ 朝阳区 - 酒仙桥 ] 酒仙桥东路18号</h3>
                <h3>所属楼盘：兴创大厦</h3>
                <div class="time">
               	    	<img src="images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-01-01</span>
                </div>
                <div class="tip">
                <span>认证商家</span>
                <span>一手房源</span>
                <span>车位充足</span>
                </div>
                </div>
                <div class="spright">
                	<form>
                    	<input type="button" value="预约看房" class="kf">
                        <input type="button" value="收&nbsp;藏" class="kf kf2">
                    </form>
                </div>
            </li>
            <li>
       	    	<img src="../选址中国页面/images/dpfy.gif" width="340" height="230" alt="dpfy" /> 
                <div class="spmiddle">
                <h1>酒仙桥新出项目&nbsp;可做商业办公&nbsp;签约时随时</h1>
                <h2>3.4 元/㎡/天</h2>
                <h3>北京市[ 朝阳区 - 酒仙桥 ] 酒仙桥东路18号</h3>
                <h3>所属楼盘：兴创大厦</h3>
                <div class="time">
               	    	<img src="images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-01-01</span>
                </div>
                <div class="tip">
                <span>认证商家</span>
                <span>一手房源</span>
                <span>车位充足</span>
                </div>
                </div>
                <div class="spright">
                	<form>
                    	<input type="button" value="预约看房" class="kf">
                        <input type="button" value="收&nbsp;藏" class="kf kf2">
                    </form>
                </div>
            </li>
            <li>
       	    	<img src="../选址中国页面/images/dpfy.gif" width="340" height="230" alt="dpfy" /> 
                <div class="spmiddle">
                <h1>酒仙桥新出项目&nbsp;可做商业办公&nbsp;签约时随时</h1>
                <h2>3.4 元/㎡/天</h2>
                <h3>北京市[ 朝阳区 - 酒仙桥 ] 酒仙桥东路18号</h3>
                <h3>所属楼盘：兴创大厦</h3>
                <div class="time">
               	    	<img src="images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-01-01</span>
                </div>
                <div class="tip">
                <span>认证商家</span>
                <span>一手房源</span>
                <span>车位充足</span>
                </div>
                </div>
                <div class="spright">
                	<form>
                    	<input type="button" value="预约看房" class="kf">
                        <input type="button" value="收&nbsp;藏" class="kf kf2">
                    </form>
                </div>
            </li>
            <li>
       	    	<img src="../选址中国页面/images/dpfy.gif" width="340" height="230" alt="dpfy" /> 
                <div class="spmiddle">
                <h1>酒仙桥新出项目&nbsp;可做商业办公&nbsp;签约时随时</h1>
                <h2>3.4 元/㎡/天</h2>
                <h3>北京市[ 朝阳区 - 酒仙桥 ] 酒仙桥东路18号</h3>
                <h3>所属楼盘：兴创大厦</h3>
                <div class="time">
               	    	<img src="images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-01-01</span>
                </div>
                <div class="tip">
                <span>认证商家</span>
                <span>一手房源</span>
                <span>车位充足</span>
                </div>
                </div>
                <div class="spright">
                	<form>
                    	<input type="button" value="预约看房" class="kf">
                        <input type="button" value="收&nbsp;藏" class="kf kf2">
                    </form>
                </div>
            </li>
            <li>
       	    	<img src="../选址中国页面/images/dpfy.gif" width="340" height="230" alt="dpfy" /> 
                <div class="spmiddle">
                <h1>酒仙桥新出项目&nbsp;可做商业办公&nbsp;签约时随时</h1>
                <h2>3.4 元/㎡/天</h2>
                <h3>北京市[ 朝阳区 - 酒仙桥 ] 酒仙桥东路18号</h3>
                <h3>所属楼盘：兴创大厦</h3>
                <div class="time">
               	    	<img src="images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-01-01</span>
                </div>
                <div class="tip">
                <span>认证商家</span>
                <span>一手房源</span>
                <span>车位充足</span>
                </div>
                </div>
                <div class="spright">
                	<form>
                    	<input type="button" value="预约看房" class="kf">
                        <input type="button" value="收&nbsp;藏" class="kf kf2">
                    </form>
                </div>
            </li>
            <li>
       	    	<img src="../选址中国页面/images/dpfy.gif" width="340" height="230" alt="dpfy" /> 
                <div class="spmiddle">
                <h1>酒仙桥新出项目&nbsp;可做商业办公&nbsp;签约时随时</h1>
                <h2>3.4 元/㎡/天</h2>
                <h3>北京市[ 朝阳区 - 酒仙桥 ] 酒仙桥东路18号</h3>
                <h3>所属楼盘：兴创大厦</h3>
                <div class="time">
               	    	<img src="images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-01-01</span>
                </div>
                <div class="tip">
                <span>认证商家</span>
                <span>一手房源</span>
                <span>车位充足</span>
                </div>
                </div>
                <div class="spright">
                	<form>
                    	<input type="button" value="预约看房" class="kf">
                        <input type="button" value="收&nbsp;藏" class="kf kf2">
                    </form>
                </div>
            </li>
            <li>
       	    	<img src="../选址中国页面/images/dpfy.gif" width="340" height="230" alt="dpfy" /> 
                <div class="spmiddle">
                <h1>酒仙桥新出项目&nbsp;可做商业办公&nbsp;签约时随时</h1>
                <h2>3.4 元/㎡/天</h2>
                <h3>北京市[ 朝阳区 - 酒仙桥 ] 酒仙桥东路18号</h3>
                <h3>所属楼盘：兴创大厦</h3>
                <div class="time">
               	    	<img src="images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-01-01</span>
                </div>
                <div class="tip">
                <span>认证商家</span>
                <span>一手房源</span>
                <span>车位充足</span>
                </div>
                </div>
                <div class="spright">
                	<form>
                    	<input type="button" value="预约看房" class="kf">
                        <input type="button" value="收&nbsp;藏" class="kf kf2">
                    </form>
                </div>
            </li>
            <li>
       	    	<img src="../选址中国页面/images/dpfy.gif" width="340" height="230" alt="dpfy" /> 
                <div class="spmiddle">
                <h1>酒仙桥新出项目&nbsp;可做商业办公&nbsp;签约时随时</h1>
                <h2>3.4 元/㎡/天</h2>
                <h3>北京市[ 朝阳区 - 酒仙桥 ] 酒仙桥东路18号</h3>
                <h3>所属楼盘：兴创大厦</h3>
                <div class="time">
               	    	<img src="images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-01-01</span>
                </div>
                <div class="tip">
                <span>认证商家</span>
                <span>一手房源</span>
                <span>车位充足</span>
                </div>
                </div>
                <div class="spright">
                	<form>
                    	<input type="button" value="预约看房" class="kf">
                        <input type="button" value="收&nbsp;藏" class="kf kf2">
                    </form>
                </div>
            </li>
            <li>
       	    	<img src="../选址中国页面/images/dpfy.gif" width="340" height="230" alt="dpfy" /> 
                <div class="spmiddle">
                <h1>酒仙桥新出项目&nbsp;可做商业办公&nbsp;签约时随时</h1>
                <h2>3.4 元/㎡/天</h2>
                <h3>北京市[ 朝阳区 - 酒仙桥 ] 酒仙桥东路18号</h3>
                <h3>所属楼盘：兴创大厦</h3>
                <div class="time">
               	    	<img src="images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-01-01</span>
                </div>
                <div class="tip">
                <span>认证商家</span>
                <span>一手房源</span>
                <span>车位充足</span>
                </div>
                </div>
                <div class="spright">
                	<form>
                    	<input type="button" value="预约看房" class="kf">
                        <input type="button" value="收&nbsp;藏" class="kf kf2">
                    </form>
                </div>
            </li>
            <li>
       	    	<img src="../选址中国页面/images/dpfy.gif" width="340" height="230" alt="dpfy" /> 
                <div class="spmiddle">
                <h1>酒仙桥新出项目&nbsp;可做商业办公&nbsp;签约时随时</h1>
                <h2>3.4 元/㎡/天</h2>
                <h3>北京市[ 朝阳区 - 酒仙桥 ] 酒仙桥东路18号</h3>
                <h3>所属楼盘：兴创大厦</h3>
                <div class="time">
               	    	<img src="images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-01-01</span>
                </div>
                <div class="tip">
                <span>认证商家</span>
                <span>一手房源</span>
                <span>车位充足</span>
                </div>
                </div>
                <div class="spright">
                	<form>
                    	<input type="button" value="预约看房" class="kf">
                        <input type="button" value="收&nbsp;藏" class="kf kf2">
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="page">
            	<ul>
                	<li class="up"><a href="#">上一页</a></li>
                    <li class="now">1</li>
                    <li class="num"><a href="#">2</a></li>
                    <li class="num"><a href="#">3</a></li>
                    <li class="num"><a href="#">4</a></li>
                    <li class="num"><a href="#">5</a></li>
                    <li>...</li>
                    <li class="num"><a href="#">8</a></li>
                    <li class="up"><a href="#">下一页</a></li>
                </ul>
    </div>
</div>
</div>
<div class="footer">
	<div class="mybody">
	<div class="ewm"><img src="images/ewm.jpg" width="110" height="110" alt="ewm"/><p>关注选址微信公众号</p></div>
    <div class="footermiddle">
    <ul>
    	<li><a href="#" class="footernav">关于我们</a></li>
        <li><a href="#" class="footernav footernav2">联系我们</a></li>
        <li><a href="#" class="footernav footernav2">平台规则</a></li>
        <li><a href="#" class="footernav footernav2">意见反馈</a></li>
    </ul>
	<p class="bq">版权所有 2016 选址中国有限公司 保留一切权利 京ICP备111111111号</p>
    <p class="dh">联系电话：400-000-000</p>
    </div>
    <div class="footermiddle footerr">
    	<a href="#" class="footernav">友情链接</a>
        <ul>
    	<li><a href="#" class="yqlj">瑞凡特（北京）科技有限公司</a></li>
        <li><a href="#" class="yqlj yqlj2">北京写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">上海写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
    	</ul>
    </div>
    </div>
</div>
</body>
</html>
