.content{
	width:100%;
	overflow:auto;
	background-color:#f7f7f7;}
.bread{
	height:50px;
	line-height:50px;
	}
.bread a{font-size:12px;}
.quesform{
	margin:auto;
	overflow:auto;
	width:675px;}
.title{
	margin-bottom:5px;
	text-indent:11px;
	font-size:18px;
	line-height:30px;
	border-left:4px solid #2f8abb;
	color:#444444;
	font-weight:normal;
	float:left;
	margin-right:22px;}
.text{
	width:600px;
	height:100px;
	border:1px solid #cccccc;
	resize:none;
	overflow:auto;}
.questop{
	overflow:auto;
	margin-bottom:30px;}
.select{
	width:600px;
	border:1px solid #cccccc;
	height:40px;}
.text2{
	height:200px;}
.img2{
	margin-left:11px;}
.button{
	width:120px;
	height:40px;
	background:#2f8abb;
	color:#fff;
	font-size:18px;
	cursor:pointer;
	float:right;
	}
.button:hover{
	background:#609dbe;
	}
.quesform{
	margin-top:40px;
	margin-bottom:60px;}