.content{
	width:100%;
	overflow:auto;
	background-color:#f7f7f7;
	padding-bottom:30px;}
.bread{
	height:50px;
	line-height:50px;
	}
.bread a{font-size:12px;}
.left{
	float:left;
	width:207px;
	overflow:auto;
	margin-right:30px;
	background-color:#FFF;
	margin-top:88px;
	padding:20px;}
.title{
	text-indent:11px;
	font-size:18px;
	line-height:30px;
	border-left:4px solid #2f8abb;
	color:#444444;
	font-weight:normal;}
.leftnav{
	overflow:auto;
	margin-left:15px;
	margin-top:15px;
	margin-bottom:15px;}
.leftnav h2{
	margin-bottom:8px;
	font-size:16px;
	font-weight:normal;
	color:#444444;}
.leftnav ul{
	float:left;}
.leftul2{
	margin-left:40px;}
.leftnav ul li{
	line-height:30px;}
.leftnav ul li a{
	color:#808080;}	
.search{
	width:800px;
	height:50px;}
.searchbutton2{
	margin-left:20px;}
.searchtext{
	text-indent:61px;
	background-color:#FFF;
	background-image:url(../images/search.png);
	background-repeat:no-repeat;
	background-position:16px 14px;
	display:block;
	border:1px solid #4c6699;
	width:538px;
	height:48px;
	color:#d9d9d9;
	line-height:48px;
	float:left;}
.searchbutton{
	font-size:18px;
	cursor:pointer;
	float:left;
	display:block;
	border-left:none;
	width:120px;
	height:50px;
	color:#FFF;
	background-color:#2f8abb;}
.right{
	float:left;
	width:923px;}
.rightul{
	margin-top:39px;}
.rightul li{
	margin-bottom:20px;
	padding:20px;
	background-color:#FFF;
	width:883px;}
.litop{
	padding-bottom:18px;
	overflow:auto}
.litop h1 a{
	font-size:20px;
	font-weight:normal;}
.litop h1 a:hover{
	text-decoration:none;
	color:#2f8abb;}
.rightul p{
	margin-bottom:15px;}
.rightul p a{
	font-size:16px;
	line-height:32px;
	color:#808080;}
.time{
	overflow:auto;
	float:left;}
.det{
	overflow:auto;
	width:883px;}
.time2{
	margin-left:60px;}
.sj{
	color:#444444;
	margin-left:5px;}
.sj span{
	color:#2f8abb;}
.page{
	margin:40px 0px 0px 330px;}
.page ul li{
	float:left;
	height:18px;
	margin-left:8px;
	font-size:12px;
	text-align:center;
	}
.page ul li a{
	height:16px;
	line-height:16px;
	display:block;
	font-size:12px;
	}
.num a{
	width:16px;
	border:1px solid #8e8e8e;
	}
.num a:hover{
	color:#fff;
	border:1px solid #2f8abb;
	background:#2f8abb;
	text-decoration:none;
	}
.now{
	color:#fff;
	width:16px;
	height:16px;
	line-height:16px;
	border:1px solid #2f8abb;
	background:#2f8abb;
	}
.page .up a:hover{
	color:#2f8abb;
	text-decoration:none;
	}