<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/public.css" rel="stylesheet" type="text/css" />
<link href="css/head.css" rel="stylesheet" type="text/css" />
<link href="css/dynamicdetails.css" rel="stylesheet" type="text/css" />
<link href="css/contentright.css" rel="stylesheet" type="text/css" />
<title>攻略详情</title>
</head>
<body>
<div class="header">
	<div class="mybody">
    	<div class="logo"><img src="images/logo2.png" width="193" height="60" alt="logo" /></div>
        <div class="place"><p>北京</p></div>
        <div class="nav">
        	<div class="navtop">
        	<a href="#" class="log">登录</a>
            <a href="#" class="log sign">注册</a>
            <p>客服热线&nbsp;&nbsp;&nbsp;400&nbsp;-&nbsp;0000&nbsp;-&nbsp;000</p>
            </div>
            <div class="line"></div>
            <a href="#" class="xz"><div class="xzimg"><img src="images/gl2.png" width="21" height="21" alt="gl"/></div><p>选址攻略</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="images/gw2.png" width="21" height="21" alt="gl"/></div><p>选址顾问</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="images/jy2.png" width="21" height="21" alt="gl"/></div><p>选址建议</p></a>
            
        </div>
    </div>
</div>
<div class="content">
<div class="mybody">
	<div class="bread"><span>选址中国</span> > <a href="#">选址攻略</a> > <a href="#">攻略详情</a></div>
    <div class="left">
    	<h1>地铁小鲜肉17号线实现三线换乘，周边写字楼升值在即</h1>
        <div class="fl">
        	<div class="ssfl"><img src="images/ssfl.gif" width="15" height="15" alt="ssfl" /><span>所属分类</span></div>
            <div class="ssfl ssfl2"><img src="images/sj.gif" width="15" height="15" alt="sj" /><span>时间：2016-01-01 </span></div>
            <div class="ssfl ssfl2"><img src="images/zz.gif" width="15" height="15" alt="zz" /><span>作者：宋媛</span></div>
        </div>
      <p>是否邻铁已经是写字楼选址的参考之一，本期空间观察为您梳理一下北京地铁的一条小鲜肉线路——计划于2019年全线运营通车的地铁17号线。</p>
      <p>为什么要专访一条尚未通车的地铁线路？实在是因为它的气场太强大，17号线20座车站中有7座可与既有线路实现换乘，其中望京西站、十里河站、东大桥站、永安里站4座可换乘三条地铁线，即实现“三线换乘”，其中东大桥站换乘6号线和规划中的CBD线。</p>
      <p>地铁17号线未来科技城北区站、南区站两座车站，以及邻近的三段隧道区间已在全线率先开工。17号线设车站20座，其中，换乘站共10座，达到一半。在这10座换乘站中，共有7座车站可与既有线路实现换乘。</p>
      <p>最值得一提的是，17号线中的4座车站可实现“三线换乘”，即乘客在一个车站可换乘三条地铁线路，包括：</p>
        <h2>望京西站换乘13号线、15号线</h2>
        <h3>北京香颂</h3>
      <p>北京香颂处于东北四环和京承高速夹角的60公顷绿地内，在季景沁园南侧，距离望京轻轨站300多米，总体建筑面积30余万平米，物业费：2.78元/平米•月。北京香颂规划为一个写字楼、公寓、精装公馆、商业、花园洋房和城市公寓多种物业类别多功能的集合式街区型产品。北京香颂依托由高速公路、城市干道、轨道交通、公交枢纽组成的立体交通网络，成为东北四环交通中心地。</p>
<h2>十里河站换乘10号线和14号线</h2>
        <h3>潘家园大厦</h3>
      <p>潘家园大厦位于朝阳区潘家园南里12号，出入二、三环路交通方便，大厦东临华威小区（东三环），西临东二环路，北临劲松小区，南侧步行8到达二环路，通过朝阳区政府规划部门了解，大厦南侧是北京市重点规划区，发展前景看好。物业费：6.00元/平米•月，建筑面积：28000平方米。</p>
      <h2>东大桥站换乘6号线和规划中的CBD线</h2>
      <h3>蓝岛大厦</h3>
      <p>北京蓝岛大厦位于朝阳区朝外大街，毗邻使馆区和CBD中央商务区，门前有16条公交车经过，交通十分便利。</p>
      <h2>永安里站换乘1号线和规划中的R1线</h2>
      <h3>中海广场</h3>
      <p>中海广场位于北京CBD核心地段，南面鸟瞰长安街，东侧毗邻国贸中心，占据国贸商务圈显要位置，由世界500强成员企业--中海地产根据国际甲级写字楼标准倾力打造。中海广场由两座国际甲级写字楼及北侧商业配楼和商业裙楼组成，总占地面积约1.9万平方米，建筑面积为15.1万平方米。</p>
      <p>根据这条地铁交汇站点的设立，基本上就确定了未来企业选址的风向标，跟着地铁走，要啥全都有。更多精彩，请查看选址中国官网。</p>
    </div>
    <div class="right">
    	<div class="righttop">
        	<h1 class="title">热门资讯<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
        	<li><a href="#">客户最中意的5类写字楼，你Get了吗？</a><span>01-01</span></li>
            <li><a href="#">如果选择创业，哪个SOHO值得考虑？</a><span>01-01</span></li>
            <li><a href="#">春风十里，不如带你逛逛那些写字楼...</a><span>01-01</span></li>
            <li><a href="#">客户最中意的5类写字楼，你Get了吗？</a><span>01-01</span></li>
            <li><a href="#">如果选择创业，哪个SOHO值得考虑？</a><span>01-01</span></li>
            <li><a href="#">春风十里，不如带你逛逛那些写字楼...</a><span>01-01</span></li>
            <li><a href="#">春风十里，不如带你逛逛那些写字楼...</a><span>01-01</span></li>
        </ul>
        </div>
       	<div class="righttop righttop2">
        	<h1 class="title title2">选址达人<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="xzdr">
       	    	<img src="images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>宋媛</h1>
                <a>联系TA</a>
                </div>
                <h3>擅长方面</h3>
                <ul>
                	<li>政策解读</li>
                    <li>企业服务</li>
                    <li>政策解读</li>
                    <li>企业服务</li>
                </ul>
                </div>
            </div>
            <div class="xzdr xzdr2">
       	    	<img src="images/dr2.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>宋媛</h1>
                <a>联系TA</a>
                </div>
                <h3>擅长方面</h3>
                <ul>
                	<li>政策解读</li>
                    <li>企业服务</li>
                    <li>政策解读</li>
                    <li>企业服务</li>
                </ul>
                </div>
            </div>
             <div class="xzdr xzdr2">
       	    	<img src="images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>宋媛</h1>
                <a>联系TA</a>
                </div>
                <h3>擅长方面</h3>
                <ul>
                	<li>政策解读</li>
                    <li>企业服务</li>
                    <li>政策解读</li>
                    <li>企业服务</li>
                </ul>
                </div>
            </div>
            <div class="xzdr xzdr2">
       	    	<img src="images/dr2.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>宋媛</h1>
                <a>联系TA</a>
                </div>
                <h3>擅长方面</h3>
                <ul>
                	<li>政策解读</li>
                    <li>企业服务</li>
                    <li>政策解读</li>
                    <li>企业服务</li>
                </ul>
                </div>
            </div>
      </div>
</div>
</div>
</div>
<div class="footer">
	<div class="mybody">
	<div class="ewm"><img src="images/ewm.jpg" width="110" height="110" alt="ewm"/><p>关注选址微信公众号</p></div>
    <div class="footermiddle">
    <ul>
    	<li><a href="#" class="footernav">关于我们</a></li>
        <li><a href="#" class="footernav footernav2">联系我们</a></li>
        <li><a href="#" class="footernav footernav2">平台规则</a></li>
        <li><a href="#" class="footernav footernav2">意见反馈</a></li>
    </ul>
	<p class="bq">版权所有 2016 选址中国有限公司 保留一切权利 京ICP备111111111号</p>
    <p class="dh">联系电话：400-000-000</p>
    </div>
    <div class="footermiddle footerr">
    	<a href="#" class="footernav">友情链接</a>
        <ul>
    	<li><a href="#" class="yqlj">瑞凡特（北京）科技有限公司</a></li>
        <li><a href="#" class="yqlj yqlj2">北京写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">上海写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
    	</ul>
    </div>
    </div>
</div>
</body>
</html>
