<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/dynamicdetails.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
    <title>{$mcontent.mname}</title>
</head>
<body>
    <div class="content">
        <div class="mybody">
            <div class="left" >
                <h1>{$mcontent.mname}</h1>
                <div class="fl">
                    <div class="ssfl">
                        <img src="__PUBLIC__/images/ssfl.gif" width="15" height="15" alt="ssfl" />
                        <span>要求：{$mcontent.mrequest}</span>
                    </div>
                    <div class="ssfl ssfl2">
                        <img src="__PUBLIC__/images/sj.gif" width="15" height="15" alt="sj" />
                        <span>时间：{$mcontent.mtime}</span>
                    </div>
                    <div class="ssfl ssfl2">
                        <img src="__PUBLIC__/images/zz.gif" width="15" height="15" alt="zz" />
                        <span>报名费：{$mcontent.mfee} 元</span>
                    </div>
                </div>
                <p>{$mcontent.mcontent}</p>
            </div>
        </div>
    </div>
</body>
</html>
