<div class="bjui-pageContent">

    <form action="__PUBLIC__/json/ajaxDone.json" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
        <input type="hidden" name="custom.id" value="edce142bc2ed4ec6b623aacaf602a4de">
        <div class="bjui-row col-3">
            <label class="row-label">比赛名称</label>
            <div class="row-input required">
                <input type="text" name="mname" id="j_custom_name" value="{$mcontent.mname}" data-rule="required"></div>
            <br>
            <label class="row-label">比赛图片</label>
            <div class="row-input">
                <input type="file" name="mthumb" data-toggle="webuploader" data-options="
                {
                    pick: {label: '点击选择图片'},
                    server: '__PUBLIC__/json/ajaxUpload.json',
                    fileNumLimit: 1,
                    formData: {dir:'custompic'},
                    required: true,
                    uploaded: '',
                    basePath: '',
                    accept: {
                        title: '图片',
                        extensions: 'jpg,png',
                        mimeTypes: '.jpg,.png'
                    }
                }"></div>
            <br>
            <label class="row-label">比赛日期</label>
            <div class="row-input required">
                <input type="text" name="mtime" id="j_custom_issuedate" value="{$mcontent.mtime}" data-toggle="datepicker" data-rule="required;date"></div>
            <label class="row-label">比赛要求</label>
            <div class="row-input required">
                <input type="text" name="mrequest" id="j_custom_name" value="{$mcontent.mrequest}" data-rule="required"></div>
            <label class="row-label">关键字</label>
            <div class="row-input">
                <input type="text" name="keyword" id="j_custom_tags" value="{$mcontent.keyword}" data-toggle="tags" data-url="../../json/ajaxTags.json" data-width="100%" size="20" placeholder="输入关键字，回车提交"></div>
            <label class="row-label">比赛费用</label>
            <div class="row-input required">
                <input type="text" name="mfee" id="j_custom_name" value="{$mcontent.mfee}" data-rule="required"></div>
            <label class="row-label">比赛官网</label>
            <div class="row-input required">
                <input type="text" name="murl" id="j_custom_name" value="{$mcontent.murl}" data-rule="required"></div>
            <br>
            <br>
            <label class="row-label">比赛详情</label>
            <div class="row-input">
                <textarea name="content" id="j_form_content" class="j-content" style="width: 700px;" data-toggle="kindeditor" data-minheight="150">
                    <p>{$mcontent.mcontent}</p>
                </textarea>
            </div>

        </div>
        <br>
        <br>
        <!-- 内容区 --> </div>
    <div class="bjui-pageFooter">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn-default btn" data-icon="save"> <i class="fa fa-save"></i>
            完成修改
        </button>
        &nbsp;&nbsp;
        <button type="button" class="btn-close btn" data-icon="close"> <i class="fa fa-close"></i>
            取消
        </button>
    </div>

</form>
