<div class="bjui-pageHeader" style="background-color:#fefefe; border-bottom:none;">
<form data-toggle="ajaxsearch" data-options="{searchDatagrid:$.CurrentNavtab.find('#datagrid-test-filter')}">
    <fieldset>
        <legend style="font-weight:normal;">比赛搜索：</legend>
        <div style="margin:0; padding:1px 5px 5px;">
            <span>比赛ID：</span>
            <input type="text" name="obj.code" class="form-control" size="15">
                
            <span>比赛名称：</span>
            <input type="text" name="obj.name" class="form-control" size="15">
                
            <div class="btn-group">
                <button type="submit" class="btn-green" data-icon="search">开始搜索！</button>
                <button type="reset" class="btn-orange" data-icon="times">重置</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
<div class="bjui-pageContent">
    <table class="table table-bordered" id="datagrid-test-filter" data-toggle="datagrid" data-options="{
        height: '100%',
        showToolbar: true,
        toolbarItem: 'add,edit,del',
        jsonPrefix: 'obj',
        editMode: {dialog:{width:'800',height:500,title:'编辑信息',mask:true}},
        paging: {pageSize:60},
        showCheckboxcol: true,
        linenumberAll: true,
    }">
        <thead>
            <tr>
                <th align="center" width="90">比赛ID</th>
                <th align="center">比赛名称</th>
                <th align="center">比赛时间</th>
                <th align="center">比赛官网</th>
                <th align="center">操作</th>
            </tr>
            <volist name="match" id="vo">
            <tr>
                <td>{$vo.mid}</td>
                <td>{$vo.mname}</td>
                <td> {$vo.mtime}</td>
                <td><a href="{$vo.murl}">{$vo.murl}</a></td>
                <td>
                    <button type="button" class="btn-green" data-toggle="dialog" data-options="{id:'', url:'__MODULE__/match/content/mid/{$vo.mid}', title:'{$vo.mname}', max:true}">查看</button>&nbsp;
                    <button type="button" class="btn-blue" data-toggle="dialog" data-options="{id:'', url:'__MODULE__/match/editmatch/mid/{$vo.mid}', title:'修改比赛：{$vo.mname}', max:true}">修改</button>&nbsp;
                    <button type="button" class="btn-red" data-toggle="alertmsg" data-options="{type:'confirm', msg:'你确定要删除吗？', okCall:function(){window.open('__MODULE__/match/delete/mid/{$vo.mid}');window.close();}}">删除</button>
                </td>
            </tr>
            </volist>

        </thead>
    </table>
        <div data-toggle="pagination" data-options="{total:1000, pageSize:1, callback:pagination_test_callback}">
    </div>
</div>
