<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/sitelist.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
<title>热点资讯</title>
</head>
<body>
<include file="Public/header.html" />

<div class="content">
<div class="mybody">
    <div class="bread"><a href="{:U('/')}">易学助手</a> > <a href="../../news">热点资讯</a></div>
    <div class="left">
        <div class="search">
        <form class="search"  action="{:U('home/search/search')}" method="post" onsubmit="return chk_form();">
            <input type="text" value="请输入感兴趣的内容..." class="searchtext">
            <input type="button" value="开始搜索" class="searchbutton">
        </form>
        </div>
        <ul class="proul">
            <volist name="news" id="vo">
               <li>
                 <div class="litop">
                    <h1><a href="../news/newscontent/newsid/{$vo.newsid}">{$vo.newstitle}</a></h1>
                    <h2>{$vo.newssource}</h2>
                </div>
                <div class="time">
                        <img src="__PUBLIC__/images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：{$vo.newstime}</span>
                </div>
               </li>
            </volist>
        </ul>
        <div class="page">
                {$pages}
    </div>
    </div>
    <div class="right">
        <div class="righttop">
            <h1 class="title">热门资讯<a href="__MODULE__/news/newslist" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
            <volist name="news" id="vo">
                    <li>
                        <a href="__MODULE__/news/newscontent?newsid={$vo.newsid}">{$vo.newstitle}</a> 
                        <span>{$vo.newstime}</span>
                    </li>
            </volist>
            </ul>
        </div>
        <div class="righttop righttop2">
            <h1 class="title">比赛信息<a href="__MODULE__/match/matchlist" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
            <volist name="match" id="vo">
                    <li>
                        <a href="__MODULE__/match/content?mid={$vo.mid}">{$vo.mname}</a><span>{$vo.mtime}</span>
                    </li>
            </volist>
            </ul>
        </div>
        <div class="righttop">
            <h1 class="title">考证信息<a href="__MODULE__/certificate/certificatelist" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
            <volist name="textual" id="vo">
                    <li>
                        <a href="__MODULE__/certificate/content?cid={$vo.cid}">{$vo.cname}</a> <span>{$vo.ctime}</span>
                    </li>
            </volist>
            </ul>
        </div>
    </div>
</div>
</div>

<include file="Public/footer.html" />

</body>
</html>
