<!--
作者：李小雨
日期：2016.12.11
描述：论坛评论内容页
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="__PUBLIC__/assets/ico/favicon.ico"/>
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/questions.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/forumlist.css" rel="stylesheet" type="text/css" />
    <script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.js" ></script>
    <link href="__PUBLIC__/css/confirmdelete.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/js/confirmdelete.js"></script>
    <!-- 富文本框配置文件 -->
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor.all.min.js"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/lang/zh-cn/zh-cn.js"></script>
    <script src="__PUBLIC__/js/forum.js"></script>
    <title>论坛详情</title>
</head>
<body>
    <!--首部导航栏-->
    <include file="Public/header.html"/>
    <div class="content">
        <div class="mybody">
            <div class="bread">
                <a href="{:U('/')}">易学助手</a>
                >
                <a href="{:U('/home/forum/')}">论坛</a>
                >
                <a href="{:U('/home/forum/questions')}">论坛详情</a>
            </div>
            <div class="left">
                <div class="question">
                    <div class="qtop">
                        <h1>
                            <span>问题：</span>
                            {$fcontent.title}
                        </h1>
                        <if condition="$Think.session.name neq null">
                            <div class="sc" >
                                <eq name="Think.session.id" value="$fcontent.userid">
                                    <!-- 相等删除 -->
                                    <img src="__PUBLIC__/images/report.png" width="16" height="16" alt="report" />
                                    <a href="javascript:;" onclick="return alertMsg('确定要删帖吗？',1,'【方法url】');">删除</a>
                                    <else/>
                                    <!-- 不相等举报 -->
                                    <span>
                                        <img src="__PUBLIC__/images/report.png" width="16" height="16" alt="report" />
                                        <a href="javascript:;" onclick="return alertMsg('确定要举报吗？',1,'__CONTROLLER__/report/username/{$Think.session.name}/forumid/{$fcontent.forumid}');">举报</a>
                                    </span>
                                </eq>
                            </div>
                        </if>
                    </div>
                    <div class="fl">
                        <div class="ssfl">
                            <img src="__PUBLIC__/images/ssfl.gif" width="15" height="15" alt="ssfl" />
                            <span>所属分类：{$typename}</span>
                        </div>
                        <div class="ssfl ssfl2">
                            <img src="__PUBLIC__/images/sj.gif" width="15" height="15" alt="sj" />
                            <span>时间：{$fcontent.posttime}</span>
                        </div>
                        <div class="ssfl ssfl2">
                            <img src="__PUBLIC__/images/twz.gif" width="15" height="15" alt="zz" />
                            <span>提问者：{$username}</span>
                        </div>
                        <div class="ssfl ssfl2">
                            <span>阅读量：{$fcontent.readcount}</span>
                        </div>
                    </div>
                    <div class="qcontent">{$fcontent.content}</div>

                </div>
                <div class="question">
                    <a href="#sub">
                        <h2>
                            共有{$count_comment}个回答
                            <span>我要回答</span>
                        </h2>
                    </a>
                </div>
                <ul class="contentul">
                    <volist name="comment" id="vo">
                        <li>
                            <div class="lileft">
                                <img src="__PUBLIC__/{$vo.avatar_url}" width="90" height="110" alt="head" />
                            </div>
                            <div class="liright">
                                <div class="rtop">
                                    <h3>姓名：{$vo.username}</h3>
                                    <div class="ssfl ssfl2 ssflul">
                                        <img src="__PUBLIC__/images/sj.gif" width="15" height="15" alt="sj" />
                                        <span>时间：{$vo.createtime}</span>
                                    </div>
                                </div>
                                <div class="rtop">
                                    <div class="hd">
                                        <h3>回答：</h3>
                                    </div>
                                    <div class="hdp">
                                        <p>{$vo.forum_comment}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </volist>
                </ul>
                <div class="page">{$pages}</div>
                <!--发表回复-->
                <div class="clear"></div>
                <div class="post_forum">
                    <a name="sub"></a>
                    <form action="{:U('/home/forum/addComment')}" method="post"  onsubmit="return checkResponse()">
                        <div>
                            <span>发表回复</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div id="editForm" class="post_text" >
                            <!-- 加载编辑器的容器 -->
                            <script id="editor" type="text/plain" style="width:660px;height:500px;"></script>

                            <div>
                                <input hidden="hidden" id=session value="{$Think.session.name}" />
                                <input hidden="hidden" name="forumid" value="{$id}" />
                                <input class="post_button" type="submit" value="发表" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="righttop">
                    <h1 class="title">
                        论坛热议榜
                        <a href="#" class="ckgd">更多&nbsp;>></a>
                    </h1>
                    <ul class="topul">
                        <volist name="forum_hot" id="vo">
                            <li>
                                <a href="__CONTROLLER__/questions/forumid/{$vo.forumid}">{$vo.title|msubstr=0,15,'utf-8',true}</a>
                                <span>{$vo.posttime|substr=0,10}</span>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--底部footer-->
    <include file="Public/footer.html" />

    <!-- 举报弹窗 -->
</body>
</html>
