<!--
作者：李小雨
日期：2016.12.18
描述：论坛意见反馈页
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="__PUBLIC__/assets/ico/favicon.ico"/>
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/questions.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/forumlist.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/js/jquery.js" ></script>
    <title>论坛意见反馈</title>
</head>
<body>
    <!--首部导航栏-->
    <include file="Public/header.html"/>
    <div class="content">
        <div class="mybody">
            <div class="bread">
                <a href="{:U('/')}">易学助手</a>
                >
                <a href="{:U('/home/forum/')}">论坛</a>
                >
                <a href="{:U('/home/forum/suggestions')}">意见反馈</a>
            </div>
            <div class="left">
                <div class="question">
                    <div class="qtop">
                        <h1>
                            <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;意见反馈专注于用户的需求，专心于易学助手的完善。倾听，始终如一。用心倾听您的建议。如果您在使用易学助手时遇到问题和功能障碍，或者对我们的产品有相关意见建议，欢迎在此精确反馈。</span>
                        </h1>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="right">
                <div class="righttop">
		        	<h1 class="title title2">公告板</h1>
		            <div class="lpimg"><a href="{:U('/home/forum/questions/forumid/57')}"><img src="__PUBLIC__/images/commitment001.jpg" width="220" height="100" alt="lp" /></a></div>
		     		 <ul class="topul">
			        	<li><a href="{:U('/home/forum/suggestions')}">违规论坛举报反映通道</a><span>2016-12-18</span></li>
		        	</ul>
		      	</div>
            </div>
        </div>
    </div>
    <!--底部footer-->
    <include file="Public/footer.html" />
</body>
</html>
