<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/personal_left.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/personal_else.css" rel="stylesheet" type="text/css" />
<title>个人中心</title>
</head>
<body>
<include file="Public/header.html" />

<!--个人中心-->
<div class="content">
    <div class="mybody">
        <!-- <div class="bread"><span>易学助手</span> > <a href="{:U('/home/person/homepage')}">个人中心</a></div> -->
        <div class="bread"><span><a href="{:U('/')}">易学助手</a></span> > <a href="{:U('/home/person/homepage')}">个人中心</a></div> 
        <!--个人中心left-->
        <div class="personal_left">
            <div class="user">
               <img src="__PUBLIC__/{$users.avatar_url}" width="150" height="150"   />
                <p>欢迎您  {$users.username}</p>
            </div>
            <ul class="left_nav">
                    <li class="left_nav_now"><a href="{:U('/home/person/homepage')}">个人首页</a></li>
                    <li ><a href="{:U('/home/person/permessage')}">个人信息管理</a></li>
                    <li><a href="{:U('/home/person/message')}">消息管理</a></li>
                    <li><a href="{:U('/home/person/repassword')}">密码管理</a></li>
            </ul>       
        </div>
        <!--个人中心right-->
        <div class="personal_else">
            <h1 >消息中心</h1>
            <div class="exper1 else_bg" >
                <h1 class="h11">个人信息</h1>
                
                  <ul>
                    <li>用户名<span>{$users.username}</span></li>
                    <li>邮箱<span>{$users.email}</span></li>
                    <li>性别<span>{$users.sex}</span></li>
                    <li>专业<span>{$users.major}</span></li>
                    <li>学校<span>{$users.colleage}</span></li>
                    <li>城市<span>{$users.city}</span></li>
                    <li>爱好<span>{$users.hobby}</span></li>
                  </ul>
                
            </div>
            <div class="exper1 else_bg exper2">
                <h1 class="h11">未读消息<!-- <span>【7条】</span> --></h1>
                <ul>
                    
                    <volist name="certificate" id="vo">
                    <li><a href="__MODULE__/person/uccontent/cid/{$vo.certificateid}">{$vo.cname}</a><span>{$vo.time}</span></li>
                    </volist>
                    </ul>
                    <ul>
                    <volist name="match" id="vo">
                    <li><a href="__MODULE__/person/umcontent/mid/{$vo.matchid}">{$vo.mname}</a><span>{$vo.time}</span></li>
                    </volist>
                    </ul>
                
            </div>
        </div>
    </div>
</div>

<include file="Public/footer.html" />
</body>
</html>
