<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/personal_left.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/personal_form.css" rel="stylesheet" type="text/css" />
<title>个人信息管理</title>
<script type="text/javascript">
        function F_Open_dialog() 
       { 
            document.getElementById("btn_file").click(); 
       } 

    </script>
</head>
<body>
<include file="Public/header.html" />

<!--个人中心房源管理-->
<div class="content">
    <div class="mybody">
        <div class="bread"><span>易学助手</span> > <a href="{:U('/home/person/homepage')}">个人中心</a> >  <a href="{:U('/home/person/permessage')}">个人信息管理</a></div>
        <!--个人中心left-->
        <div class="personal_left">
            <div class="user">
                <!-- <a href="#"><img src="__PUBLIC__/images/user.gif" width="150" height="150" alt="user" /></a> -->
                <form action="__MODULE__/Person/addimage/username/{$_SESSION['name']}" method="post" enctype="multipart/form-data">
                <img src="__PUBLIC__/{$users.avatar_url}" width="150" height="150"  style="cursor:pointer" onclick="F_Open_dialog()" />
                <input type="file" id="btn_file"   style="display:none" name='avatar_url' value="{$users.avatar_url}">
                <button type="submit">...</button>
                </form>
                <p>欢迎您   {$_SESSION['name']}</p>
            </div>
            <ul class="left_nav">
                    <li class="left_nav_now"><a href="{:U('/home/person/homepage')}">个人首页</a></li>
                    <li ><a href="{:U('/home/person/permessage')}">个人信息管理</a></li>
                    <li><a href="{:U('/home/person/message')}">消息管理</a></li>
                    <li><a href="{:U('/home/person/repassword')}">密码管理</a></li>

            </ul>
        </div>
        <!--个人中心right-->
        <div class="personal_form_right form_bg">
            <div class="img"><img src="__PUBLIC__/images/user.gif" alt="img" /></div>
            <div class="form1">
            <form action="__MODULE__/Person/add/username/{$_SESSION['name']}" method="post">
                <table cellspacing="30">
                    <tr>
                        <td>用户名</td>
                        <td><input type="text" readonly="" name="username" value="{$users.username}" /></td>
                    </tr>
                    <!-- <tr>
                        <td>邮箱</td>
                        <td><input type="text" name="email" value="{$users.email}" /></td>
                    </tr> -->
                    <tr>
                        <td>性别</td>
                        <td><input type="text" name="sex" value="" /></td>
                    </tr>
                    <tr>
                        <td>专业</td>
                        <td><input type="text" name="major" value="" /></td>
                    </tr>
                    <tr>
                        <td>学校</td>
                        <td><input type="text" name="colleage" value="" /></td>
                    </tr>
                    <tr>
                        <td>城市</td>
                        <td><input type="text" name="city" value="" /></td>
                    </tr>
                    <tr>
                        <td>爱好</td>
                        <td id="forms"><form >
                            <input type="checkbox" name="hobby" value="移动互联网"/>移动互联网
                            <input type="checkbox" name="hobby" value="软件开发"/>软件开发
                            <input type="checkbox" name="hobby" value="专业比赛"/>专业比赛
                            <input type="checkbox" name="hobby" value="专业考证"/>专业考证
                            <input type="checkbox" name="hobby" value="科技创新"/>科技创新
                        </form></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="button"><input type="submit" value="提交" name="submit" /></td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
    </div>
</div>

<include file="Public/footer.html" />
</body>
</html>
