<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="__PUBLIC__/assets/ico/favicon.ico">
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/personal_left.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/personal_form.css" rel="stylesheet" type="text/css" />
<title>密码管理</title>
</head>
<body>
<include file="Public/header.html" />

<div class="content">
	<div class="mybody">
    	<div class="bread"><span>易学助手</span> > <a href="{:U('/home/person/homepage')}">个人中心</a> > <a href="{:U('/home/person/repassword')}">密码管理</a> </div>
		<!--个人中心left-->
        <div class="personal_left">
        	<div class="user">
            	<a href="#"><img src="__PUBLIC__/images/user.gif" width="150" height="150" alt="user" /></a>
                <p>欢迎你，XXX</p>
            </div>
            <ul class="left_nav">
                	<li class="left_nav_now"><a href="{:U('/home/person/homepage')}">个人首页</a></li>
                    <li ><a href="{:U('/home/person/permessage')}">个人信息管理</a></li>
                    <li><a href="{:U('/home/person/message')}">消息管理</a></li>
                    <li><a href="{:U('/home/person/repassword')}">密码管理</a></li>
			</ul>
        </div>
        <!--个人中心right-->
        <div class="personal_form_right form_bg">
        	<div class="img"><img src="__PUBLIC__/images/user.gif" alt="img" /></div>
            <div class="form1">
            <form action="">
            	<table cellspacing="30">
                	<tr>
                    	<td>原始密码</td>
                        <td><input type="password" name="" value="" /></td>
                    </tr>
                    <tr>
                    	<td>新密码</td>
                        <td><input type="password" name="" value="" /></td>
                    </tr>
                    <tr>
                    	<td>确认密码</td>
                        <td><input type="password" name="" value="" /></td>
                    </tr>

                    <tr>
                    	<td>&nbsp;</td>
                    </tr>
                    <tr>
                    	<td>&nbsp;</td>
                    </tr>
                    <tr>
                    	<td colspan="2" class="button"><input type="button" value="修改" name="" /></td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
	</div>
</div>

<include file="Public/footer.html" />
</body>
</html>
