<div class="bjui-pageContent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<h1>用户个人信息</h1>
        
<div class="bjui-pageContent">

<form action="__PUBLIC__/json/ajaxDone.json" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
    <input type="hidden" name="custom.id" value="edce142bc2ed4ec6b623aacaf602a4de">
    <div class="bjui-row col-3">
        <label class="row-label">用户名</label>
        <div class="row-input">
        <input type="text" value="{$users.username}" readonly="">
        </div>
        <br>
        <label class="row-label">邮箱</label>
        <div class="row-input">
        <input type="text" value="{$users.email}" readonly="">
        </div>
        <br>
        <label class="row-label">性别</label>
        <div class="row-input">
        <input type="text" value="{$users.sex}" readonly="">
        </div>
        <br>
        <label class="row-label">专业</label>
        <div class="row-input">
        <input type="text" value="{$users.major}" readonly="">
        </div>
        <br>
        <label class="row-label">学校</label>
        <div class="row-input">
        <input type="text" value="{$users.colleage}" readonly="">
        </div>
        <br>
        <label class="row-label">城市</label>
        <div class="row-input">
        <input type="text" value="{$users.city}" readonly="">
        </div>
        <br>
        <label class="row-label">爱好</label>
        <div class="row-input">
        <input type="text" value="{$users.hobby}" readonly="">
        </div>
        <br>
    

    </div>
        <br>
        <br>
    <!-- 内容区 -->
</form>
</div>


