<div class="bjui-pageContent">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h1>用户个人信息</h1>
    <div class="bjui-pageContent">
            <input type="hidden" name="custom.id" value="edce142bc2ed4ec6b623aacaf602a4de">
            <div class="bjui-row">
                <label class="row-label">用户名：</label>
                <div class="row-input">{$users.username}</div>
                <br>
                <label class="row-label">邮箱：</label>
                <div class="row-input">{$users.email}</div>
                <br>
                <label class="row-label">性别：</label>
                <div class="row-input">{$users.sex}</div>
                <br>
                <label class="row-label">专业：</label>
                <div class="row-input">{$users.major}</div>
                <br>
                <label class="row-label">学校：</label>
                <div class="row-input">{$users.colleage}</div>
                <br>
                <label class="row-label">城市：</label>
                <div class="row-input">{$users.city}</div>
                <br>
                <label class="row-label">爱好：</label>
                <div class="row-input">{$users.hobby}</div>
                <br></div>
            <br>
            <br>
    </div>
</div>
