<div class="bjui-pageContent">
    <form action="__MODULE__/admin/chpwd" data-toggle="validate" method="post" data-close-current="true">
        <input type="hidden" name="user.id" value="${user.id }">
        <input type="hidden" name="user.username" value="${user.username }" id="j_userinfo_changepass_username">
        <input type="hidden" name="user.password" value="" id="j_userinfo_changepass_userpassword">
        <input type="hidden" name="user.oldpass" value="" id="j_userinfo_changepass_userpassword_old">
        <div class="bjui-row col-2">
            <label class="row-label">身份:</label>
            <div class="row-input">管理员</div>
            <br>
            <label class="row-label">登陆账号:</label>
            <div class="row-input">BJUI</div>
            <br>
            <label class="row-label">旧密码:</label>
            <div class="row-input required">
                <input type="password" id="j_userinfo_changepass_oldpass" name="oldpassword" value="" data-rule="required">
            </div>
            <br>
            <label class="row-label">新密码:</label>
            <div class="row-input required">
                <input type="password" id="j_userinfo_changepass_newpass" name="password" value="" data-rule="新密码:required;length(6~)">
            </div>
            <br>
            <label class="row-label">确认密码:</label>
            <div class="row-input required">
                <input type="password" id="j_userinfo_changepass_confirmpass" name="" value="" data-rule="required;match(#j_userinfo_changepass_newpass)">
            </div>
            <br>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        <button type="submit" class="btn-default" data-icon="check">确认修改</button>
       <button type="button" class="btn-close" data-icon="close">关闭</button>
</div>
