<div class="bjui-pageContent">

<form action="__PUBLIC__/json/ajaxDone.json" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
    <input type="hidden" name="custom.id" value="edce142bc2ed4ec6b623aacaf602a4de">
    <div class="bjui-row col-3">
        <label class="row-label">用户名</label>
        <div class="row-input required">
            <input type="text" name="adname" id="j_custom_name" value="{$admessage.adname}" data-rule="required"></div>
         <label class="row-label">邮箱</label>
        <div class="row-input required">
            <input type="text" name="ademail" id="j_custom_name" value="{$admessage.ademail}" data-rule="required"></div>
        <label class="row-label">联系方式</label>
        <div class="row-input required">
            <input type="text" name="adphonenum" id="j_custom_name" value="{$admessage.adphonenum}" data-rule="required;date"></div>
        <br>
    </div>
        <br>
        <br>
    <!-- 内容区 -->
</div>
<div class="bjui-pageFooter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit" class="btn-default btn" data-icon="publish"><i class="fa fa-save"></i>发布</button>
&nbsp;&nbsp;
<button type="button" class="btn-close btn" data-icon="close"><i class="fa fa-close"></i> 取消</button>
</div>


</form>

