<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/head.css" rel="stylesheet" type="text/css" />
<link href="../css/housedetails.css" rel="stylesheet" type="text/css" />
<title>房源详情-土地</title>
</head>
<body>
<div class="header">
	<div class="mybody">
    	<div class="logo"><img src="../images/logo2.png" width="193" height="60" alt="logo" /></div>
        <div class="place"><p>北京</p></div>
        <div class="nav">
        	<div class="navtop">
        	<a href="#" class="log">登录</a>
            <a href="#" class="log sign">注册</a>
            <p>客服热线&nbsp;&nbsp;&nbsp;400&nbsp;-&nbsp;0000&nbsp;-&nbsp;000</p>
            </div>
            <div class="line"></div>
            <a href="#" class="xz"><div class="xzimg"><img src="../images/gl2.png" width="21" height="21" alt="gl"/></div><p>选址攻略</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="../images/gw2.png" width="21" height="21" alt="gl"/></div><p>选址顾问</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="../images/jy2.png" width="21" height="21" alt="gl"/></div><p>选址建议</p></a>
            
        </div>
    </div>
</div>

<div class="content">
	<div class="mybody">
    	<a href="#"><img src="../images/ggw.png" width="1200" height="100" alt="ggw" /></a>
        <div class="bread"><span>选址中国</span> > <a href="#">房源列表</a> > <a href="#">北京</a> > <a href="#">顺义区</a> > <a href="#">顺义区木林镇土地</a></div>
        <div class="content1">
        	<div class="carousel">
            	<a href="#"><img src="../images/photo.jpg" width="390" height="264" alt="photo" /></a>
                <a href="#" class="lcar"><img src="../images/photo_1.jpg" width="90" height="60" alt="photo" /></a>
                <a href="#" class="lcar"><img src="../images/photo_2.jpg" width="90" height="60" alt="photo" /></a>
                <a href="#" class="lcar"><img src="../images/photo_3.jpg" width="90" height="60" alt="photo" /></a>
                <a href="#" class="lcar lcar_r"><img src="../images/photo_4.jpg" width="90" height="60" alt="photo" /></a>
            </div>
            <div class="introduction introduction1">
            	<h1>顺义区木林镇土地</h1>
                <h1 class="h1">3万元/亩</h1>
                <h5>北京-顺义区-北小营镇-北京市顺义区S330(金昌路)</h5>
                <table  cellspacing="0">
                	
                	<tr>
                    	<th>土地面积</th>
                    	<td style="width:140px;">10亩</td>
                        <th>土地性质</th>
                    	<td style="width:140px;">仓储物流用地</td>
                    </tr>
                    <tr>
                        <th>交付形式</th>
                    	<td>招商</td>
                        <th>土地状态</th>
                    	<td>七通一平</td>
                    </tr>
                    <tr>
                    	<th>土地证</th>
                    	<td colspan="3">集体土地所有权证</td>
                    </tr>
                </table>
                <h2>联系人&nbsp;&nbsp;&nbsp;<span>宋先生</span>&nbsp;&nbsp;&nbsp;&nbsp;联系电话&nbsp;&nbsp;&nbsp;<span>400 1234 5678</span></h2>
                <div class="housetip">
                	<button value="预约看地">预约看地</button>
                    <button value="收藏">收 藏</button>
                    <a href="#" class="a">举报</a>
                </div>
            </div>
            <div class="introduction2">
            	<a href="#"><img src="../images/user_1.jpg" width="150" height="190" alt="" /></a>
                <p>宋媛</p>
                <a href="#" class="a1">收藏经纪人</a>
            </div>
        </div>
        <div class="content1">
        	<h3>房源地址</h3>
            <a href="#" class="map2"><img src="../images/map_2.jpg" alt="" /></a>
        </div>
        <div class="content1">
        	<div class="lconl">
                <h3>周边设施</h3>
                <div class="lcon">
                    <a href="#"><img src="../images/img_1.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_2.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_3.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_4.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_5.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_6.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_7.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_8.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_9.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_10.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_11.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_12.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_13.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_14.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_15.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_16.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_17.png" width="50" height="50" alt="lcon" /></a>
                    <a href="#"><img src="../images/img_18.png" width="50" height="50" alt="lcon" /></a>
                </div>
            </div>
            <div class="lconr lconr1">
            	<h3>园区视频</h3>
                <a href="#"><img src="../images/video.jpg" width="500" height="248" alt="" /></a>
            </div>
        </div>
        <div class="content1">
        	<h3>同区域土地<span><a href="#">查看更多>></a></span></h3>
            <div class="turn"></div>
            <div class="lpimg1"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="../images/li_img.jpg" width="260" height="170" alt="" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">尚峯壹號</a><span>25000/平</span></p><a href="#"><img src="../images/li_img.jpg" width="260" height="170" alt="" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">京投银泰檀香府</a><span>价格待定</span></p><a href="#"><img src="../images/li_img.jpg" width="260" height="170" alt="" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="../images/li_img.jpg" width="260" height="170" alt="" /></a></div>
            <div class="turn"></div>
        </div>
        <div class="content1">
        	<h3>同类型土地<span><a href="#">查看更多>></a></span></h3>
            <div class="turn"></div>
            <div class="lpimg1"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="../images/li_img.jpg" width="260" height="170" alt="" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">尚峯壹號</a><span>25000/平</span></p><a href="#"><img src="../images/li_img.jpg" width="260" height="170" alt="" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">京投银泰檀香府</a><span>价格待定</span></p><a href="#"><img src="../images/li_img.jpg" width="260" height="170" alt="" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="../images/li_img.jpg" width="260" height="170" alt="" /></a></div>
            <div class="turn"></div>
        </div>
    </div>
</div>

<div class="footer">
	<div class="mybody">
	<div class="ewm"><img src="../images/ewm.jpg" width="110" height="110" alt="ewm" /><p>关注选址微信公众号</p></div>
    <div class="footermiddle">
    <ul>
    	<li><a href="#" class="footernav">关于我们</a></li>
        <li><a href="#" class="footernav footernav2">联系我们</a></li>
        <li><a href="#" class="footernav footernav2">平台规则</a></li>
        <li><a href="#" class="footernav footernav2">意见反馈</a></li>
    </ul>
	<p class="bq">版权所有 2016 选址中国有限公司 保留一切权利 京ICP备111111111号</p>
    <p class="dh">联系电话：400-000-000</p>
    </div>
    <div class="footermiddle footerr">
    	<a href="#" class="footernav">友情链接</a>
        <ul>
    	<li><a href="#" class="yqlj">瑞凡特（北京）科技有限公司</a></li>
        <li><a href="#" class="yqlj yqlj2">北京写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">上海写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
    	</ul>
    </div>
    </div>
</div>
</body>
</html>
