<div class="bjui-pageContent">
    <form action="__MODULE__/blogroll/editblogroll/id/{$blogroll.id}" data-toggle="validate" method="post" data-close-current="true">
        <div class="bjui-row col-1">
            <label class="row-label">链接名称:</label>
            <div class="row-input required">
                <input type="text" value="{$blogroll.name}" data-rule="required" name="name">
            </div>
            <label class="row-label">链接地址:</label>
            <div class="row-input required">
                <input type="text" value="{$blogroll.url}" data-rule="required" name="url">
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
        <li><button type="submit" class="btn-default" data-icon="check">确认修改</button></li>
    </ul>
</div>
