<div class="bjui-pageHeader" style="background-color:#fefefe; border-bottom:none;">
<fieldset>
        <legend style="font-weight:normal;">添加友链：</legend>
        <div style="margin:0; padding:1px 5px 5px;">
        <form action="__MODULE__/blogroll/add" method="post" >
            <span>链接名称：</span>
            <input type="text" name="name" class="form-control" data-rule="required" size="15">                
            <span>链接地址：</span>
            <input type="text" name="url" class="form-control" data-rule="required" value="http://" size="25">                
            <div class="btn-group">
                <button type="submit" class="btn-green" data-icon="save">添加</button>
                <button type="reset" class="btn-orange" data-icon="times">重置</button>
            </div>
            </form>
        </div>
    </fieldset>
</div>
<div class="bjui-pageContent">
    <table class="table table-bordered" id="datagrid-test-filter" data-toggle="datagrid" data-options="{
        height: '100%',
        showToolbar: true,
        toolbarItem: 'add,edit,del',
        jsonPrefix: 'obj',
        editMode: {dialog:{width:'800',height:500,title:'编辑信息',mask:true}},
        paging: {pageSize:60},
        showCheckboxcol: true,
        linenumberAll: true,
    }">
        <thead>
            <tr>
                <th align="center" width="70">序号</th>
                <th align="center" width="300">链接名称</th>
                <th align="center" width="500">链接网址</th>
                <th align="center">操作</th>
            </tr>
            <volist name="blogroll" id="vo">
            <tr>
                <td>{$i}</td>
                <td>{$vo.name}</td>
                <td><a href="{$vo.url}">{$vo.url}</a></td>
                <td align="center">
                    <button type="button" class="btn-blue" onclick="dialog_url();">修改</button>&nbsp;
                    <button type="button" class="btn-red" data-toggle="alertmsg" target="ajaxTodo" data-options="{type:'confirm', msg:'你确定要删除吗？', okCall:function(){window.open('__MODULE__/blogroll/delete/id/{$vo.id}');window.close();}}">删除</button>
                </td>
            </tr>
            </volist>

        </thead>
    </table>
        <div data-toggle="pagination" data-options="{total:1000, pageSize:1, callback:pagination_test_callback}">
    </div>
</div>


<script type="text/javascript">
function dialog_url() {
    BJUI.dialog({
        id:'edit',
        url:'__MODULE__/blogroll/edit/id/{$vo.id}',
        title:'修改友情链接'
    })
}
</script>
