<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/sitelist.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
<title>励志人生</title>
</head>
<body>
<include file="Public/header.html" />

<div class="content">
<div class="mybody">
    <div class="bread"><a href="{:U('/')}">易学助手</a> > <a href="../../article">励志人生</a></div>
    <div class="left">
        <div class="search">
        <form>
            <input type="text" value="请输入感兴趣的内容..." class="searchtext">
            <input type="button" value="开始搜索" class="searchbutton">
        </form>
        </div>
        <div class="lp">
        </div>
        <ul class="proul">
            <volist name="article" id="vo">
               <li>
                 <div class="litop">
                    <h1><a href="../article/articledetails/articleid/{$vo.articleid}">{$vo.articletitle}</a></h1>
                    <h2>{$vo.articleauthor}</h2>
                </div>
                <p><a href="#">{$vo.articleintroduction}</a> </p>
                <div class="time">
                        <img src="__PUBLIC__/images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：{$vo.articletime}</span>
                </div>
               </li>
            </volist>


            <!--<li>
                <div class="litop">
                    <h1><a href="{:U('/home/article/articledetails')}">年轻人如何在独居时有效地保持自律</a></h1>
                    <h2>鲁迈</h2>
                </div>
                <p><a href="#">谈到独居与自律，我自信有发言权，无论是在国内的少年事期，还是去斯坦福念书，我大部分时间都算是独居，而且始终保持着自律，当然效果也是很棒的。自律看上去是个名词，但真的做起来却一点都不容易，在这里我分享一点经验，希望对大家有所帮助.....</a></p>
                <div class="time">
                        <img src="__PUBLIC__/images/time.gif" width="13" height="16" alt="time"/> 
                        <span class="sj">时间：2016-11-01</span>
                </div>
            </li>-->
        </ul>
        <div class="page">
                <ul>
                    <li class="up"><a href="#">上一页</a></li>
                    <li class="now">1</li>
                    <li class="num"><a href="#">2</a></li>
                    <li class="num"><a href="#">3</a></li>
                    <li class="num"><a href="#">4</a></li>
                    <li class="num"><a href="#">5</a></li>
                    <li>...</li>
                    <li class="num"><a href="#">8</a></li>
                    <li class="up"><a href="#">下一页</a></li>
                </ul>
    </div>
    </div>
    <div class="right">
        <div class="righttop">
            <h1 class="title">热门资讯<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
            <li><a href="#">励志音乐，你Get了吗？</a><span>01-01</span></li>
            <li><a href="#">鸡汤励志成名曲</a><span>01-01</span></li>
            <li><a href="#">这本该是个励志的故事...</a><span>01-01</span></li>
            <li><a href="#">励志故事的背后你又知道哪些？</a><span>01-01</span></li>
            <li><a href="#">怎么看待励志的书籍？</a><span>01-01</span></li>
            <li><a href="#">如何写好励志小说...</a><span>01-01</span></li>
            <li><a href="#">哇咔咔，今天的鸡汤好喝吗...</a><span>01-01</span></li>
        </ul>
        </div>
        <div class="righttop righttop2">
            <h1 class="title title2">励志达人<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="xzdr">
                <img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>王子文</h1>
                </div>
                <ul>
                    <li>人物简介</li>
                    <li>人物经历</li>
                    <li>主要著作</li>
                    <li>综艺节目</li>
                </ul>
                </div>
            </div>
            <div class="xzdr xzdr2">
                <img src="__PUBLIC__/images/dr2.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>尼克胡哲</h1>
                </div>
                <ul>
                    <li>人物简介</li>
                    <li>人物经历</li>
                    <li>主要著作</li>
                    <li>励志演讲</li>
                </ul>
                </div>
            </div>
            <div class="xzdr xzdr2">
                <img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>俞敏洪</h1>
                </div>
                <ul>
                    <li>人物简介</li>
                    <li>人物经历</li>
                    <li>主要著作</li>
                    <li>综艺节目</li>
                </ul>
                </div>
            </div>
            <div class="xzdr xzdr2">
                <img src="__PUBLIC__/images/dr2.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>尼克胡哲</h1>
                </div>
                <ul>
                    <li>人物简介</li>
                    <li>人物经历</li>
                    <li>主要著作</li>
                    <li>励志演讲</li>
                </ul>
                </div>
      </div>
    </div>
</div>
</div>

<include file="Public/footer.html" />

</body>
</html>
