<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/dynamicdetails.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
<title>励志帖子</title>
</head>
<body>
<include file="Public/header.html" />
<div class="content">
<div class="mybody">
	<div class="bread"><a href="{:U('/')}">易学助手</a> > <a href="../../article">励志帖子</a> ></div>
    <div class="left">
        <h1>{$articlecontent.articletitle}</h1>
        <div class="fl">
            <div class="ssfl ssfl2"><img src="__PUBLIC__/images/sj.gif" width="15" height="15" alt="sj" /><span>时间：{$articlecontent.articletime} </span></div>
            <div class="ssfl ssfl2"><img src="__PUBLIC__/images/zz.gif" width="15" height="15" alt="zz" /><span>作者：{$articlecontent.articleauthor}</span></div>
        </div>
      <p>{$articlecontent.articlecontent}</p>  
    </div>





    <!--<div class="left">
    	<h1>年轻人如何在独居时有效地保持自律</h1>
        <div class="fl">
            <div class="ssfl ssfl2"><img src="__PUBLIC__/images/sj.gif" width="15" height="15" alt="sj" /><span>时间：2016-11-10 </span></div>
            <div class="ssfl ssfl2"><img src="__PUBLIC__/images/zz.gif" width="15" height="15" alt="zz" /><span>作者：鲁迈</span></div>
        </div>
      <p>谈到独居与自律，我自信有发言权，无论是在国内的少年时期，还是去斯坦福念书，我大部分时间都算是独居，而且始终保持着自律，当然效果也是相当棒的。</p>
      <p>自律看上去是个简单的名词，但真的做起来却一点都不容易，在这里我分享一点经验，希望对大家能有所帮助，尤其推荐有拖延症的人阅读，目前我已经成功治愈好多有拖延症的员工，部分患拖延癌晚期的也有明显好转。</p>
      <p>首先，很少有人提到，其实想要保持自律，最重要而且力所能及马上就能做的，不是读书，不是冥想，不是拿小本本撰写誓言，而是很简单的两个字：</p>
      <h2>早起！</h2>
        <p>你以为我在开玩笑？不是！</p>
        <p>在斯坦福念书时，我常爱听各种奇葩的讲座，有一次听的恰好就是早起对于自律的重要性，你一定想不到，早起对于一个人的生活和成长有多么重要的影响和帮助。</p>
      <p>正常人每天的睡眠大都在7到8小时，然而有趣的是，欧洲心理学家发现，在早起的人的潜意识里，每天的可支配时间是要更长一些的。而相对的是，在晚起者的潜意识里，每天则要变得短了许多。</p>
      <p>这是因为，在大部分人的潜意识里，是以中午12点为一天的分界线的，如果总是很晚才起床，一起床半天就没了，人的心理难免受影响，近而焦虑，同时效率也会相对变得低下，总之坏处多多。</p>
      <p>如果不信我上面说的，你可以做个小尝试，今天晚上23点就入睡，然后明天早晨在5：30~6：00起床，这样在上班之前，你应该至少拥有了2小时的自由时间。</p>
      <p>这段时间你可以安排自己看40分钟书，或者听一节TED，然后剩余的时间还很多，给自己5分钟时间，安静地坐着，感受下清晨的微冷，或者闭上眼睛来一小段冥想，如果你没有冥想的习惯，也没关系，就是简单地闭上眼睛就好，然后想想什么就想什么。</p>
      <p>感受一下，你就会知道我想要说的是什么。</p>
      <p>即使在夜生活极其丰富的西海岸，我也始终都保持着早起的习惯，原因也很简单，当你把一种好的习惯变成自然，它将成为你极其有力的武器，就像007的枪，李小龙的双截棍，或者海明威的笔。</p>
      <p>要想保持自律，还有一点很重要，就是尽量让自己日常的生活规律化。</p>
      <p>规律化不是死板，而是一种境界，就像雷阿伦永远不变的投篮手势，没有人会说他的手型死板，大家只会赞叹，并且称之为完美。</p>
      <p>以我举例，每天起床以后，我会把自己当天要做的事情简单地罗列一下，包括当天要学习的课程，要看的书。创业以后，我仍然保持着这个习惯，会在一大早，就把当天要做的事情过一遍，要开哪些会，要安排哪些事务，要谈哪些客户，等等等等。</p>
      <p>罗列完以后，我就会开始做事，一件一件来，不要急，一件一件来。</p>
      <p>好多年轻人有个坏毛病，就是太急了，不管是谈恋爱还是做事业，都太急了，恨不得今天有个想法，明天就见天使投资人，后天就拿到融资，大后天就上市。</p>
    </div>-->
     <div class="right">
        <div class="righttop">
            <h1 class="title">热门资讯<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
            <li><a href="{:U('/home/article/articledetails')}">励志音乐，你Get了吗？</a><span>11-10</span></li>
            <li><a href="{:U('/home/article/articledetails')}">鸡汤励志成名曲</a><span>11-10</span></li>
            <li><a href="{:U('/home/article/articledetails')}">这本该是个励志的故事...</a><span>11-10</span></li>
            <li><a href="{:U('/home/article/articledetails')}">励志故事的背后你又知道哪些？</a><span>11-10</span></li>
            <li><a href="{:U('/home/article/articledetails')}">怎么看待励志的书籍？</a><span>11-10</span></li>
            <li><a href="{:U('/home/article/articledetails')}">如何写好励志小说...</a><span>11-10</span></li>
            <li><a href="{:U('/home/article/articledetails')}">哇咔咔，今天的鸡汤好喝吗...</a><span>11-10</span></li>
        </ul>
        </div>
        <div class="righttop righttop2">
            <h1 class="title title2">励志达人<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="xzdr">
                <img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>俞敏洪</h1>
                </div>
                <ul>
                    <li>人物简介</li>
                    <li>人物经历</li>
                    <li>主要著作</li>
                    <li>综艺节目</li>
                </ul>
                </div>
            </div>
            <div class="xzdr xzdr2">
                <img src="__PUBLIC__/images/dr2.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>尼克胡哲</h1>
                </div>
                <ul>
                    <li>人物简介</li>
                    <li>人物经历</li>
                    <li>主要著作</li>
                    <li>励志演讲</li>
                </ul>
                </div>
            </div>
            <div class="xzdr xzdr2">
                <img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>俞敏洪</h1>
                </div>
                <ul>
                    <li>人物简介</li>
                    <li>人物经历</li>
                    <li>主要著作</li>
                    <li>综艺节目</li>
                </ul>
                </div>
            </div>
            <div class="xzdr xzdr2">
                <img src="__PUBLIC__/images/dr2.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>尼克胡哲</h1>
                </div>
                <ul>
                    <li>人物简介</li>
                    <li>人物经历</li>
                    <li>主要著作</li>
                    <li>励志演讲</li>
                </ul>
                </div>
      </div>
    </div>
</div>
</div>
</div>
<include file="Public/footer.html" />
</body>
</html>
