<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/dynamicdetails.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
    <title>关于我们</title>
</head>
<body>
    <include file="Public/header.html" />
    <div class="content">
        <div class="mybody">
            <div class="bread">
                <span>
                    <a href="{:U('/')}">易学助手</a>
                </span>
                >
                <a href="javascript:;">其他</a>
            </div>
            <div style="float: left">
                <div class="left">
                    <h1>关于我们</h1>
                <p>
                    Five score years ago, a great American, in whose symbolic shadow we stand today, signed the Emancipation Proclamation. This momentous decree came as a great beacon light of hope to millions of Negro slaves who had been seared in the flames of withering injustice. It came as a joyous daybreak to end the long night of bad captivity.
                </p>
                <p>
                    But one hundred years later, the Negro still is not free. One hundred years later, the life of the Negro is still sadly crippled by the manacles of segregation and the chains of discrimination. One hundred years later, the Negro lives on a lonely island of poverty in the midst of a vast ocean of material prosperity. One hundred years later, the Negro is still languished in the corners of American society and finds himself an exile in his own land. So we’ve come here today to dramatize a shameful condition.
                </p>
                <p>
                    I am not unmindful that some of you have come here out of great trials and tribulations. Some of you have come fresh from narrow jail cells. Some of you have come from areas where your quest for freedom left you battered by the storms of persecution and staggered by the winds of police brutality. You have been the veterans of creative suffering. Continue to work with the faith that unearned suffering is redemptive.
                </p>
                <p>
                Go back to Mississippi, go back to Alabama, go back to South Carolina, go back to Georgia, go back to Louisiana, go back to the slums and ghettos of our northern cities, knowing that somehow this situation can and will be changed. Let us not wallow in the valley of despair.
                <br>
                I say to you today, my friends, so even though we face the difficulties of today and tomorrow, I still have a dream. It is a dream deeply rooted in the American dream.
                <br>
                I have a dream that one day this nation will rise up, live up to the true meaning of its creed: “We hold these truths to be self-evident; that all men are created equal.”
                <br>
                I have a dream that one day on the red hills of Georgia the sons of former slaves and the sons of former slave-owners will be able to sit down together at the table of brotherhood.
                <br>
                I have a dream that one day even the state of Mississippi, a state sweltering with the heat of injustice, sweltering with the heat of oppression, will be transformed into an oasis of freedom and justice.
                <br>
                I have a dream that my four children will one day live in a nation where they will not be judged by the color if their skin but by the content of their character.
                <br>
                I have a dream today.
                <br>
                I have a dream that one day down in Alabama with its governor having his lips dripping with the words of interposition and nullification, one day right down in Alabama little black boys and black girls will be able to join hands with little white boys and white girls as sisters and brothers.
                <br>
                I have a dream today.
                <br>
                I have a dream that one day every valley shall be exalted, every hill and mountain shall be made low, the rough places will be made plain, and the crooked places will be made straight, and the glory of the Lord shall be revealed, and all flesh shall see it together.
                <br>
                This is our hope. This is the faith that I go back to the South with. With this faith we will be able to hew out of the mountain of despair a stone of hope. With this faith we will be able to transform the jangling discords of our nation into a beautiful symphony of brotherhood. With this faith we will be able to work together, to pray together, to struggle together, to go to jail together, to stand up for freedom together, knowing that we will be free one day.
                <br>
                This will be the day when all of God’s children will be able to sing with new meaning.
                <br>
                My country, ’ tis of thee,
                <br>
                Sweet land of liberty,
                <br>
                Of thee I sing:
                <br>
                Land where my fathers died,
                <br>
                Land of the pilgrims’ pride,
                <br>
                From every mountainside
                <br>
                Let freedom ring.
                <br>
                And if America is to be a great nation this must become true. So let freedom ring from the prodigious hilltops of New Hampshire.
                <br>
                Let freedom ring from the mighty mountains of New York!
                <br>
                Let freedom ring from the heightening Alleghenies of Pennsylvania!
                <br>
                Let freedom ring from the snowcapped Rockies of Colorado!
                <br>
                Let freedom ring from the curvaceous slops of California!
                <br>
                But not only that; let freedom ring from Stone Mountain of Georgia!
                <br>
                Let freedom ring from Lookout Mountain of Tennessee!
                <br>
                Let freedom ring from every hill and molehill of Mississippi!
                <br>
            </p>
                <p>From every mountainside, let freedom ring!</p>
                <p>
                    When we let freedom ring, when we let it ring from every village and every hamlet, from every state and every city, we will be able to speed up that day when all of God’s children, black men and white men, Jews and Gentiles, Protestants and Catholics, will be able to join hands and sing in the words of the old Negro spiritual, “Free at last! free at last! thank God almighty, we are free at last!”
                </p>
            </div>
            <!--PC版-->
            <div id="SOHUCS" sid="aboutus" style="width: 790px;float: left;"></div>
            <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
            <script type="text/javascript">
                    window.changyan.api.config({
                    appid: 'cysJVl9Cb',
                    conf: 'prod_49c81d0f91ec3cbce38e37a23f0ec3f4'
                    });
                </script>
        </div>

        <div class="right">
            <div class="righttop">
                <h1 class="title title2">天气情况</h1>
                <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=55" style="border:solid 1px #7ec8ea" width="320" height="380" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer.html" />
</body>
</html>
