<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/dynamicdetails.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
    <title>意见反馈</title>
</head>
<body>
    <include file="Public/header.html" />
    <div class="content">
        <div class="mybody">
            <div class="bread">
                <span>
                    <a href="{:U('/')}">易学助手</a>
                </span>
                >
                <a href="javascript:;">其他</a>
            </div>
            <div style="float: left">
                <div class="left">
                    <h1>意见反馈</h1>
                    <p>主要功能模块如下：</p>
                    <p>
                        （一）账号注册
                        可以通过邮箱或者手机号注册，设置密码，也可以通过QQ，微信，人人，新浪微博等第三方登录。
                    </p>
                    <p>
                        （二）设置账户信息
账户信息包括院校、年级、专业、关注领域等。填写信息后可以自行更改，软件也将随着时间进行相应的系统修改，保证有针对性的提供信息。不仅仅提供本专业的信息，也能有针对性的提供感兴趣专业领域的提示信息。
                    </p>
                    <p>
                        （三）考证提示
根据用户选择的专业进行筛选，把用户对应专业和关注领域相关证件考试在考试报名前进行提示，然后提供对应详细信息网页的链接，确保用户能够不错过所有证件考试。
                    </p>
                    <p>
                        （四）比赛提示
系统会根据用户选择的专业进行筛选，把用户所在专业的全省、全国大型比赛在比赛报名前提示给用户，然后提供对应详细信息的页面和举办方网站的报名链接，确保你能够不错过你可参加的所有大型比赛，帮助你做一名优秀的大学生。
                    </p>
                    <p>
                        （五）学习记录
可以输入自己的成绩，并将学习成绩以折线图等图表的形式呈现，可以直观的显示我们的成绩变化，同时推出一套成就系统，可以实时记录用户考得的证书与参赛名次，并可将其分享至社交平台。(v1.0无此功能)
                    </p>
                    <p>
                        （六）励志帖子
系统工作人员会定时发布一些当下流行的励志帖子，以此来激励广大学生，同时软件用户也可以发布自己觉得很棒的内容到软件发帖区，但是系统工作人员会进行筛选，将那些不健康的消极内容及时清理，保证论坛纯净。
                    </p>
                </div>
                <!--PC版-->
                <div id="SOHUCS" sid="tellus" style="width: 790px;float: left;"></div>
                <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
                <script type="text/javascript">
                    window.changyan.api.config({
                    appid: 'cysJVl9Cb',
                    conf: 'prod_49c81d0f91ec3cbce38e37a23f0ec3f4'
                    });
                </script>
            </div>

            <div class="right">
                <div class="righttop">
                    <h1 class="title title2">天气情况</h1>
                    <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=55" style="border:solid 1px #7ec8ea" width="320" height="380" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/footer.html" />
</body>
</html>
