<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/dynamicdetails.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
    <title>服务条款</title>
</head>
<body>
    <include file="Public/header.html" />
    <div class="content">
        <div class="mybody">
            <div class="bread">
                <span>
                    <a href="{:U('/')}">易学助手</a>
                </span>
                >
                <a href="javascript:;">其他</a>
            </div>
            <div style="float: left">
                <div class="left">
                    <h1>易学助手服务条款</h1>
                    <p>【首部及导言】<br />
为有效利用eStudy号码资源，维护用户合法权益，特制订《eStudy号码规则》（以下简称“本规则”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示您注意。<br />
除非您已阅读并接受本规则所有条款，否则您无权申请或使用eStudy号码。您申请或使用eStudy号码的行为即视为您已阅读并同意受本规则的约束。<br />
一、【规则的范围】<br />
<br />
1.1 本规则是易学助手制定的关于获取和使用eStudy号码的相关规则。本规则适用于易学助手提供的需要注册或使用eStudy号码的全部软件和服务。<br />
1.2 本规则属于易学助手的业务规则，是《易学助手服务协议》不可分割的组成部分。<br />
1.3 您通过eStudy号码使用易学助手的软件和服务时，须同时遵守各项服务的单独协议。<br />
二、【eStudy号码的性质】<br />
<br />
eStudy号码是易学助手创设的用于识别用户身份的数字标识。eStudy号码的所有权属于易学助手。<br />
三、【eStudy号码的获取】<br />
<br />
3.1 您可以通过如下方式免费或有偿申请注册eStudy号码，包括但不限于：<br />
（1）软件客户端；<br />
（2）易学助手网站；<br />
（3）手机短信、电话语音（IVR）；<br />
（4）参与易学助手开展或授权开展的活动；<br />
（5）其他易学助手授权的方式。<br />
3.2 您完成申请注册程序后，依照易学助手的业务规则获得该号码的使用权。<br />
3.3 无论您通过何种方式获取eStudy号码，均受本规则约束。<br />
四、【用户身份信息验证】<br />
<br />
4.1 您在申请eStudy号码过程中，需要填写一些必要的信息，请保持这些信息的及时更新，以便易学助手向您提供帮助，或更好地为您提供服务。若国家法律法规有特殊规定的，您需要填写真实的身份信息。若您填写的信息不完整或不准确，则可能无法使用服务或在使用过程中受到限制。<br />
4.2 易学助手与用户一同致力于个人信息的保护，保护用户个人信息是易学助手的一项基本原则。未经您的同意，易学助手不会向易学助手以外的任何公司、组织和个人披露您的个人信息，但法律法规另有规定的除外。<br />
五、【eStudy号码的使用】<br />
<br />
5.1 您可以按照易学助手的业务规则用eStudy号码登录和使用易学助手提供的各种软件和服务。<br />
5.2 除了易学助手提供的软件和服务，您还可以用eStudy号码登录使用易学助手合作伙伴的相关服务。<br />
六、【eStudy号码的安全】<br />
<br />
6.1 eStudy密码由您自行设定。您应妥善保管您的eStudy号码与密码。<br />
6.2 易学助手与您共同负有维护eStudy号码安全的责任。易学助手会采取并不断更新技术措施，努力保护您的eStudy号码在服务器端的安全。<br />
6.3 您需要采取特定措施保护您的号码安全，包括但不限于妥善保管eStudy号码与密码、安装防病毒木马软件、定期更改密码等措施。<br />
七、【eStudy号码的找回】<br />
<br />
如果您的eStudy号码被盗、密码遗忘或因其他原因导致无法正常登录，您可以按照易学助手的申诉途径进行申诉，并遵守《eStudy帐号申诉服务协议》。易学助手并不承诺您一定能通过申诉找回eStudy号码。<br />
八、【用户行为规范】<br />
<br />
8.1 您不得恶意注册eStudy号码。易学助手可以对恶意注册行为进行独立判断和处理。<br />
8.2 eStudy号码使用权仅属于初始申请注册人。未经易学助手许可，您不得赠与、借用、租用、转让或售卖eStudy号码或者以其他方式许可非初始申请注册人使用eStudy号码。<br />
8.3 如果您当前使用的eStudy号码并不是您初始申请注册的或者通过易学助手提供的其他途径获得的，但您却知悉该eStudy号码当前的密码，您不得用该号码登录或进行任何操作，并请您在第一时间通知易学助手或者该号码的初始申请注册人。<br />
九、【责任承担】<br />
<br />
9.1 您理解并同意，作为eStudy号码的初始申请注册人和使用人，您应承担该号码项下所有活动产生的全部责任。<br />
9.2 因易学助手原因导致您的eStudy号码被盗，易学助手将依法承担相应责任。非因易学助手原因导致的，易学助手不承担任何责任。<br />
9.3 易学助手依照业务规则限制、冻结或终止您的eStudy号码使用，可能会给您造成一定的损失，该损失由您自行承担，易学助手不承担任何责任。<br />
9.4 您不得有偿或无偿转让eStudy号码，以免产生纠纷。您应当自行承担由此产生的任何责任，同时易学助手保留追究上述行为人法律责任的权利。<br />
十、【eStudy号码使用的限制、冻结或终止】<br />
<br />
10.1 如您违反法律法规、易学助手各服务协议或业务规则的规定，易学助手有权进行独立判断并随时限制、冻结或终止您对eStudy号码的使用，且根据实际情况决定是否恢复使用。<br />
10.2 如果易学助手发现您并非号码初始申请注册人，易学助手有权在未经通知的情况下终止您使用该号码。<br />
10.3 为了充分利用eStudy号码资源，如果您存在注册eStudy号码后未及时进行初次登录使用，或长期未登陆使用eStudy号码等情形，易学助手有权终止该号码的使用。<br />
10.4 易学助手按照本规则或相关法律法规，限制、冻结或终止您对eStudy号码的使用，而由此给您带来的损失（包括但不限于通信中断，用户资料、邮件和游戏道具及相关数据等的清空等），由您自行承担。<br />
十一、【客户服务】<br />
<br />
如果您对易学助手采取的eStudy号码的限制措施有异议或在使用eStudy号码的过程中有其他问题的，均可联系易学助手客户服务部门（http://kf.eStudy.com），我们会给予您必要的帮助。<br />
十二、【其他】<br />
<br />
12.1 您申请或使用eStudy号码即视为您已阅读并同意受本规则的约束。易学助手有权在必要时修改本规则条款。您可以在易学助手相关页面查阅本规则的最新版本。本规则条款变更后，如果您继续使用eStudy号码，即视为您已接受修改后的规则。如果您不接受修改后的规则，应当停止使用eStudy号码。<br />
12.2 本规则内容同时包括《易学助手服务协议》等。上述内容一经正式发布，即为本规则不可分割的组成部分，您同样应当遵守。上述内容与本规则存在冲突的，以本规则为准。您对前述任何业务规则、协议的接受，即视为您对本规则全部的接受。<br />
12.3 本规则签订地为中华人民共和国广东省深圳市南山区。<br />
12.4 本规则的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。<br />
12.5 若您和易学助手之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本规则签订地有管辖权的人民法院管辖。<br />
12.6 本规则所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本规则涵义解释的依据。<br />
12.7 本规则条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。（正文完）<br />
<div>
    <br />
</div></p>
            </div>
            <!--PC版-->
            <div id="SOHUCS" sid="aboutus" style="width: 790px;float: left;"></div>
            <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
            <script type="text/javascript">
                    window.changyan.api.config({
                    appid: 'cysJVl9Cb',
                    conf: 'prod_49c81d0f91ec3cbce38e37a23f0ec3f4'
                    });
                </script>
        </div>

        <div class="right">
            <div class="righttop">
                <h1 class="title title2">天气情况</h1>
                <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=55" style="border:solid 1px #7ec8ea" width="320" height="380" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer.html" />
</body>
</html>
