<div class="row-input">
            <textarea name="content" id="j_form_content" class="j-content" style="width: 700px;" data-toggle="kindeditor" data-minheight="200">                <p><strong>HTML编辑器KindEditor：</strong></p>
                <p><strong>已优化：</strong></p>
                <ul>
                    <li>深度清理html标记</li>
                    <li>上传附件后，自动获取文件名（需要返回JSON属性"origin_name"）</li>
                    <li>修改一键排版为段落前空两个全角空格，主要考虑到某些行需要顶格时直接删除空格即可。</li>
                </ul>
                <p><br>更多参数请参见：<a href="http://kindeditor.net/" target="_blank">http://kindeditor.net/</a></p>
            </textarea>
        </div>
