<div class="bjui-pageContent">

<form action="__MODULE__/News/editnewscontent/newsid/{$news.newsid}" method="post" >

    <div class="bjui-row col-3">
        <label class="row-label">资讯标题</label>
        <div class="row-input required">
            <input type="text" name="newstitle" id="j_custom_name" value="{$news.newstitle}" data-rule="required"></div>
         <label class="row-label">来源</label>
        <div class="row-input required">
            <input type="text" name="newssource" id="j_custom_name" value="{$news.newssource}" data-rule="required"></div>
        <label class="row-label">发布日期</label>
        <div class="row-input required">
            <input type="text" name="newstime" id="j_custom_issuedate" value="{$news.newstime}" data-toggle="datepicker" data-rule="required;date"></div>
        <br>
        <label class="row-label">资讯正文</label>
        <div class="row-input">
            <textarea name="newscontent" id="j_form_content" class="j-content" style="width: 700px;height: 50px;" data-toggle="kindeditor" data-minheight="150">{$news.newscontent}</textarea>
        </div>
    </div>
        <br>
        <br>
    <!-- 内容区 -->
</div>
<div class="bjui-pageFooter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit" class="btn-default btn" data-icon="publish"><i class="fa fa-save"></i>完成修改</button>
&nbsp;&nbsp;
<button type="button" class="btn-close btn" data-icon="close"><i class="fa fa-close"></i> 取消</button>
</div>


</form>

