<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/head.css" rel="stylesheet" type="text/css" />
<link href="../css/houselist2.css" rel="stylesheet" type="text/css" />
<link href="../css/contentright.css" rel="stylesheet" type="text/css" />
<title>房源列表</title>
</head>
<body>
<div class="header">
	<div class="mybody">
    	<div class="logo"><img src="../images/logo2.png" width="193" height="60" alt="logo" /></div>
        <div class="place"><p>北京</p></div>
        <div class="nav">
        	<div class="navtop">
        	<a href="#" class="log">登录</a>
            <a href="#" class="log sign">注册</a>
            <p>客服热线&nbsp;&nbsp;&nbsp;400&nbsp;-&nbsp;0000&nbsp;-&nbsp;000</p>
            </div>
            <div class="line"></div>
            <a href="#" class="xz"><div class="xzimg"><img src="../images/gl2.png" width="21" height="21" alt="gl"/></div><p>选址攻略</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="../images/gw2.png" width="21" height="21" alt="gl"/></div><p>选址顾问</p></a>
            <a href="#" class="xz xz2"><div class="xzimg"><img src="../images/jy2.png" width="21" height="21" alt="gl"/></div><p>选址建议</p></a>
            
        </div>
    </div>
</div>
<div class="content">
<div class="mybody">
	<div class="bread"><span>选址中国</span> > <a href="#">房源列表</a></div>
    <div class="ss">
    <div class="search">
    		<div class="snav">
            	<ul>
                	<li><a href="#">独栋</a></li>
                    <li><a href="#">写字楼</a></li>
                    <li><a href="#">众创空间</a></li>
                    <li><a href="#">厂房</a></li>
                    <li><a href="#">商铺</a></li>
                    <li><a href="#">土地</a></li>
                </ul>
            </div>
    	<form>
            <input type="text" value="请输入盘源名称、商圈或地点" class="searchtext">
            <input type="button" value="开始搜索" class="searchbutton">
        </form>
    </div>
    </div>
	<div class="placechose">
    	<div class="ptop">
    		<h1 class="ph hnow">区域选择</h1>
        	<h1 class="ph">地铁选择</h1>
        </div>
        <div class="placebread">
        	<span>北京</span> > <a href="#">1号线</a> > <a href="#">大望路</a><a href="#" class="close"><img src="../images/close2.gif" width="14" height="15" alt="close" /></a>
        </div>
        <div class="pul">
        	<ul>
            	<li><a href="#">四惠东</a></li>
                <li><a href="#">四惠</a></li>
                <li><a href="#"><span  class="pnow">大望路</span></a></li>
                <li><a href="#">国贸</a></li>
                <li><a href="#">永安里</a></li>
                <li><a href="#">建国门</a></li>
                <li><a href="#">东单</a></li>
                <li><a href="#">王府井</a></li>
                <li><a href="#">天安门东</a></li>
                <li><a href="#">天安门西</a></li>
                <li><a href="#">西单</a></li>
                <li><a href="#">复兴门</a></li>
                <li><a href="#">南礼士路</a></li>
                <li><a href="#">木樨地</a></li>
                <li><a href="#">军事博物馆</a></li>
                <li><a href="#">公主坟</a></li>
                <li><a href="#">万寿路</a></li>
                <li><a href="#">五棵松</a></li>
                <li><a href="#">玉泉路</a></li>
                <li><a href="#">八宝山</a></li>
                <li><a href="#">八角游乐园</a></li>
                <li><a href="#">古城</a></li>
                <li><a href="#">苹果园</a></li>
            </ul>
        </div>
    </div>
    <div class="pul2">
    	<ul class="jylx">
        	<li>交易类型</li>
            <li>分类</li>
            <li>面积</li>
            <li>入住时间</li>
            <li>价格</li>
        </ul>
        <div class="csdiv">
        <ul class="cs">
        	<li><a href="#"><span  class="pnow2">出售</span></a></li>
        	<li><a href="#">出售</a></li>
        </ul>
        </div>
        <div class="csdiv">
        <ul class="cs">
        	<li><a href="#">独栋</a></li>
            <li><a href="#"><span  class="pnow2">写字楼</span></a></li>
            <li><a href="#">众创空间</a></li>
            <li><a href="#">厂房</a></li>
            <li><a href="#">商铺</a></li>
            <li><a href="#">土地</a></li>
        </ul>
        </div>
         <div class="csdiv">
        <ul class="cs">
        	<li><a href="#"><span  class="pnow2">不限</span></a></li>
            <li><a href="#">100㎡以下</a></li>
            <li><a href="#">100~300㎡</a></li>
            <li><a href="#">300~500㎡</a></li>
            <li><a href="#">500~1000㎡</a></li>
            <li><a href="#">1000~2000㎡</a></li>
            <li><a href="#">2000㎡以上</a></li>
        </ul>
        <div class="csform">
        	<form>
            <h1 class="csleft"><a href="#">&lt;&lt;</a></h1>
            	<input type="text" class="cstext">
                <span>到</span>
                <input type="text" class="cstext">
                <input type="button" value="确定" class="csbutton">
        </div>
        </div>
         <div class="csdiv">
        <ul class="cs">
            <li><a href="#"><span  class="pnow2">出售</span></a></li>
            <li><a href="#">可立即入住</a></li>
            <li><a href="#">1个月后</a></li>
            <li><a href="#">2个月后</a></li>
            <li><a href="#">3个月后</a></li>
            <li><a href="#">4个月后</a></li>
            <li><a href="#">5个月后</a></li>
            <li><a href="#">6个月后入住</a></li>
        </ul>
        <div class="csform">
            <h1 class="csleft"><a href="#">&lt;&lt;</a></h1>
            	<input type="text" class="cstext">
                <span class="cs2">个月</span>
                <input type="button" value="确定" class="csbutton">
        </div>
        </div>
        <div class="csdiv">
        	 <div class="csform csform2">
            	<input type="text" class="cstext">
                <span>到</span>
                <input type="text" class="cstext">
                <select class="cssle">
                	<option>平米 / 天</option>
                </select>
                <input type="button" value="确定" class="csbutton">
                </form>
        	</div>
        </div>
    </div>
    <div class="ptop ptop2">
    		<h1 class="ph hnow">楼盘</h1>
        	<h1 class="ph">房源</h1>
     </div>
     <div class="placebread2">
     	<ul class="paixu">
        	<li>排序</li>
            <li><a href="#"><span  class="pnow pnow3">默认</span></a></li>
            <li><a href="#">最新</a></li>
            <li><a href="#">面积</a></li>
            <li><a href="#">价格</a></li>
        </ul>
     </div>
     <div class="left">
     <ul class="proul">
        	<li class="proulli">
       	    	<img src="../images/fylist.gif" width="280" height="210" alt="img" />
                <div class="ulright">
                	<h1><a href="#">电建地产泷悦长安</a></h1>
                	<div class="deleft">
                    	<ul>
                            <li>出租价格<span class="ulspan1">5元/㎡/天</span></li>
                            <li>租售形式<span class="ulspan2">45000元/㎡</span></li>
                            <li>招商电话<span class="ulspan3">400 1234 1234</span></li>
                        </ul>
                    </div>
                    <div class="deleft deleft2">
                    	<ul>
                            <li>产品定位<a href="#">互联网</a></li>
                            <li>产品类型<a href="#">移动互联网</a></li>
                            <li>施工阶段<a href="#">投入使用</a></li>
                            <li>建筑面积<span class="ulspan2">248000㎡</span></li>
                        </ul>
                    </div>
                    <h2>联系人<span class="tel">宋先生</span>联系电话<span class="tel">400 1234 6789</span><span class="hf">查看房源</span></h2>
                </div>
            </li>
           
           <li class="proulli">
       	    	<img src="../images/fylist.gif" width="280" height="210" alt="img" />
                <div class="ulright">
                	<h1><a href="#">电建地产泷悦长安</a></h1>
                	<div class="deleft">
                    	<ul>
                            <li>出租价格<span class="ulspan1">5元/㎡/天</span></li>
                            <li>租售形式<span class="ulspan2">45000元/㎡</span></li>
                            <li>招商电话<span class="ulspan3">400 1234 1234</span></li>
                        </ul>
                    </div>
                    <div class="deleft deleft2">
                    	<ul>
                            <li>产品定位<a href="#">互联网</a></li>
                            <li>产品类型<a href="#">移动互联网</a></li>
                            <li>施工阶段<a href="#">投入使用</a></li>
                            <li>建筑面积<span class="ulspan2">248000㎡</span></li>
                        </ul>
                    </div>
                    <h2>联系人<span class="tel">宋先生</span>联系电话<span class="tel">400 1234 6789</span><span class="hf">查看房源</span></h2>
                </div>
            </li>
           
           <li class="proulli">
       	    	<img src="../images/fylist.gif" width="280" height="210" alt="img" />
                <div class="ulright">
                	<h1><a href="#">电建地产泷悦长安</a></h1>
                	<div class="deleft">
                    	<ul>
                            <li>出租价格<span class="ulspan1">5元/㎡/天</span></li>
                            <li>租售形式<span class="ulspan2">45000元/㎡</span></li>
                            <li>招商电话<span class="ulspan3">400 1234 1234</span></li>
                        </ul>
                    </div>
                    <div class="deleft deleft2">
                    	<ul>
                            <li>产品定位<a href="#">互联网</a></li>
                            <li>产品类型<a href="#">移动互联网</a></li>
                            <li>施工阶段<a href="#">投入使用</a></li>
                            <li>建筑面积<span class="ulspan2">248000㎡</span></li>
                        </ul>
                    </div>
                    <h2>联系人<span class="tel">宋先生</span>联系电话<span class="tel">400 1234 6789</span><span class="hf">查看房源</span></h2>
                </div>
            </li>
           
           <li class="proulli">
       	    	<img src="../images/fylist.gif" width="280" height="210" alt="img" />
                <div class="ulright">
                	<h1><a href="#">电建地产泷悦长安</a></h1>
                	<div class="deleft">
                    	<ul>
                            <li>出租价格<span class="ulspan1">5元/㎡/天</span></li>
                            <li>租售形式<span class="ulspan2">45000元/㎡</span></li>
                            <li>招商电话<span class="ulspan3">400 1234 1234</span></li>
                        </ul>
                    </div>
                    <div class="deleft deleft2">
                    	<ul>
                            <li>产品定位<a href="#">互联网</a></li>
                            <li>产品类型<a href="#">移动互联网</a></li>
                            <li>施工阶段<a href="#">投入使用</a></li>
                            <li>建筑面积<span class="ulspan2">248000㎡</span></li>
                        </ul>
                    </div>
                    <h2>联系人<span class="tel">宋先生</span>联系电话<span class="tel">400 1234 6789</span><span class="hf">查看房源</span></h2>
                </div>
            </li>
           
           <li class="proulli">
       	    	<img src="../images/fylist.gif" width="280" height="210" alt="img" />
                <div class="ulright">
                	<h1><a href="#">电建地产泷悦长安</a></h1>
                	<div class="deleft">
                    	<ul>
                            <li>出租价格<span class="ulspan1">5元/㎡/天</span></li>
                            <li>租售形式<span class="ulspan2">45000元/㎡</span></li>
                            <li>招商电话<span class="ulspan3">400 1234 1234</span></li>
                        </ul>
                    </div>
                    <div class="deleft deleft2">
                    	<ul>
                            <li>产品定位<a href="#">互联网</a></li>
                            <li>产品类型<a href="#">移动互联网</a></li>
                            <li>施工阶段<a href="#">投入使用</a></li>
                            <li>建筑面积<span class="ulspan2">248000㎡</span></li>
                        </ul>
                    </div>
                    <h2>联系人<span class="tel">宋先生</span>联系电话<span class="tel">400 1234 6789</span><span class="hf">查看房源</span></h2>
                </div>
            </li>
           
           <li class="proulli">
       	    	<img src="../images/fylist.gif" width="280" height="210" alt="img" />
                <div class="ulright">
                	<h1><a href="#">电建地产泷悦长安</a></h1>
                	<div class="deleft">
                    	<ul>
                            <li>出租价格<span class="ulspan1">5元/㎡/天</span></li>
                            <li>租售形式<span class="ulspan2">45000元/㎡</span></li>
                            <li>招商电话<span class="ulspan3">400 1234 1234</span></li>
                        </ul>
                    </div>
                    <div class="deleft deleft2">
                    	<ul>
                            <li>产品定位<a href="#">互联网</a></li>
                            <li>产品类型<a href="#">移动互联网</a></li>
                            <li>施工阶段<a href="#">投入使用</a></li>
                            <li>建筑面积<span class="ulspan2">248000㎡</span></li>
                        </ul>
                    </div>
                    <h2>联系人<span class="tel">宋先生</span>联系电话<span class="tel">400 1234 6789</span><span class="hf">查看房源</span></h2>
                </div>
            </li>
           
           <li class="proulli">
       	    	<img src="../images/fylist.gif" width="280" height="210" alt="img" />
                <div class="ulright">
                	<h1><a href="#">电建地产泷悦长安</a></h1>
                	<div class="deleft">
                    	<ul>
                            <li>出租价格<span class="ulspan1">5元/㎡/天</span></li>
                            <li>租售形式<span class="ulspan2">45000元/㎡</span></li>
                            <li>招商电话<span class="ulspan3">400 1234 1234</span></li>
                        </ul>
                    </div>
                    <div class="deleft deleft2">
                    	<ul>
                            <li>产品定位<a href="#">互联网</a></li>
                            <li>产品类型<a href="#">移动互联网</a></li>
                            <li>施工阶段<a href="#">投入使用</a></li>
                            <li>建筑面积<span class="ulspan2">248000㎡</span></li>
                        </ul>
                    </div>
                    <h2>联系人<span class="tel">宋先生</span>联系电话<span class="tel">400 1234 6789</span><span class="hf">查看房源</span></h2>
                </div>
            </li>
           
            </ul>
            <div class="page">
            	<ul>
                	<li class="up"><a href="#">上一页</a></li>
                    <li class="now">1</li>
                    <li class="num"><a href="#">2</a></li>
                    <li class="num"><a href="#">3</a></li>
                    <li class="num"><a href="#">4</a></li>
                    <li class="num"><a href="#">5</a></li>
                    <li>...</li>
                    <li class="num"><a href="#">8</a></li>
                    <li class="up"><a href="#">下一页</a></li>
                </ul>
    </div>
    </div>
    <div class="right">
    	<div class="righttop">
        	<h1 class="title">热门资讯<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
        	<li><a href="#">客户最中意的5类写字楼，你Get了吗？</a><span>01-01</span></li>
            <li><a href="#">如果选择创业，哪个SOHO值得考虑？</a><span>01-01</span></li>
            <li><a href="#">春风十里，不如带你逛逛那些写字楼...</a><span>01-01</span></li>
            <li><a href="#">客户最中意的5类写字楼，你Get了吗？</a><span>01-01</span></li>
            <li><a href="#">如果选择创业，哪个SOHO值得考虑？</a><span>01-01</span></li>
            <li><a href="#">春风十里，不如带你逛逛那些写字楼...</a><span>01-01</span></li>
            <li><a href="#">春风十里，不如带你逛逛那些写字楼...</a><span>01-01</span></li>
        </ul>
        </div>
       	<div class="righttop righttop2">
        	<h1 class="title title2">选址达人<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="xzdr">
   	    	  <img src="../images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>宋媛</h1>
                <a>联系TA</a>
                </div>
                <h3>擅长方面</h3>
                <ul>
                	<li>政策解读</li>
                    <li>企业服务</li>
                    <li>政策解读</li>
                    <li>企业服务</li>
                </ul>
                </div>
            </div>
            <div class="xzdr xzdr2">
   	    	  <img src="../images/dr2.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>宋媛</h1>
                <a>联系TA</a>
                </div>
                <h3>擅长方面</h3>
                <ul>
                	<li>政策解读</li>
                    <li>企业服务</li>
                    <li>政策解读</li>
                    <li>企业服务</li>
                </ul>
                </div>
            </div>
      </div>
      <div class="righttop righttop2 righttop3">
        	<h1 class="title title2">楼盘推荐<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="lpimg1"><p><a href="#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="#"><img src="../images/lp1.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">尚峯壹號</a><span>25000/平</span></p><a href="#"><img src="../images/lp2.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="#">京投银泰檀香府</a><span>价格待定</span></p><a href="#"><img src="../images/lp3.png" width="277" height="201" alt="lp" /></a></div>
      </div>
    </div>
    <div class="ggw"><a href="#"><img src="../images/ggw.png" width="1200" height="100" alt="ggw" /></a></div>
</div>
</div>
<div class="footer">
	<div class="mybody">
	<div class="ewm"><img src="../images/ewm.jpg" width="110" height="110" alt="ewm"/><p>关注选址微信公众号</p></div>
    <div class="footermiddle">
    <ul>
    	<li><a href="#" class="footernav">关于我们</a></li>
        <li><a href="#" class="footernav footernav2">联系我们</a></li>
        <li><a href="#" class="footernav footernav2">平台规则</a></li>
        <li><a href="#" class="footernav footernav2">意见反馈</a></li>
    </ul>
	<p class="bq">版权所有 2016 选址中国有限公司 保留一切权利 京ICP备111111111号</p>
    <p class="dh">联系电话：400-000-000</p>
    </div>
    <div class="footermiddle footerr">
    	<a href="#" class="footernav">友情链接</a>
        <ul>
    	<li><a href="#" class="yqlj">瑞凡特（北京）科技有限公司</a></li>
        <li><a href="#" class="yqlj yqlj2">北京写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">上海写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
        <li><a href="#" class="yqlj yqlj2">深圳写字楼出租</a></li>
    	</ul>
    </div>
    </div>
</div>
</body>
</html>
