<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/dynamicdetails.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/contentright.css" rel="stylesheet" type="text/css" />
<title>动态详情</title>
</head>
<body>
<include file="Public/header.html" />
<div class="content">
<div class="mybody">
	<div class="bread"><span>选址中国</span> > <a href="__PUBLIC__/#">项目动态</a> > <a href="__PUBLIC__/#">动态详情</a></div>
    <div class="left">
    	<h1>挑战杯是“挑战杯”全国大学生系列科技学术竞赛的简</h1>
        <div class="fl">
        	<div class="ssfl"><img src="__PUBLIC__/images/ssfl.gif" width="15" height="15" alt="ssfl" /><span>所属分类</span></div>
            <div class="ssfl ssfl2"><img src="__PUBLIC__/images/sj.gif" width="15" height="15" alt="sj" /><span>时间：2016-01-01 </span></div>
            <div class="ssfl ssfl2"><img src="__PUBLIC__/images/zz.gif" width="15" height="15" alt="zz" /><span>作者：宋媛</span></div>
        </div>
      <p>共青团中央、中国科协、教育部、全国学联和地方省级政府共同主办，国内著名大学承办、新闻媒体联合发起的一项具有导向性、示范性和群众性的全国竞赛活动，“挑战杯”系列竞赛被誉为中国大学生学生科技创新创业的“奥林匹克”盛会，是目前国内大学生最关注最热门的全国性竞赛，也是全国最具代表性、权威性、示范性、导向性的大学生竞赛。</p>
      <p>共青团中央、中国科协、教育部、全国学联和地方省级政府共同主办，国内著名大学承办、新闻媒体联合发起的一项具有导向性、示范性和群众性的全国竞赛活动，“挑战杯”系列竞赛被誉为中国大学生学生科技创新创业的“奥林匹克”盛会，是目前国内大学生最关注最热门的全国性竞赛，也是全国最具代表性、权威性、示范性、导向性的大学生竞赛。</p>
      <p>促进优秀青年人才脱颖而出的创新摇篮。竞赛获奖者中已经产生了两位长江学者，6位国家重点实验室负责人，20多位教授和博士生导师，70%的学生获奖后继续攻读更高层次的学历，近30%的学生出国深造。</p>
      <p>促进优秀青年人才脱颖而出的创新摇篮。竞赛获奖者中已经产生了两位长江学者，6位国家重点实验室负责人，20多位教授和博士生导师，70%的学生获奖后继续攻读更高层次的学历，近30%的学生出国深造。</p>
         <img src="__PUBLIC__/images/dtxq_img.jpg" width="760" height="251" alt="tupian" class="contentimg"/>
    </div>
    <div class="right">
    	<div class="righttop">
        	<h1 class="title">热门资讯<a href="__PUBLIC__/#" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
        	<li><a href="__PUBLIC__/#">客户最中意的5类写字楼，你Get了吗？</a><span>01-01</span></li>
            <li><a href="__PUBLIC__/#">如果选择创业，哪个SOHO值得考虑？</a><span>01-01</span></li>
            <li><a href="__PUBLIC__/#">春风十里，不如带你逛逛那些写字楼...</a><span>01-01</span></li>
            <li><a href="__PUBLIC__/#">客户最中意的5类写字楼，你Get了吗？</a><span>01-01</span></li>
            <li><a href="__PUBLIC__/#">如果选择创业，哪个SOHO值得考虑？</a><span>01-01</span></li>
            <li><a href="__PUBLIC__/#">春风十里，不如带你逛逛那些写字楼...</a><span>01-01</span></li>
            <li><a href="__PUBLIC__/#">春风十里，不如带你逛逛那些写字楼...</a><span>01-01</span></li>
        </ul>
        </div>
       	<div class="righttop righttop2">
        	<h1 class="title title2">选址达人<a href="__PUBLIC__/#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="xzdr">
       	    	<img src="__PUBLIC__/images/dr1.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>宋媛</h1>
                <a>联系TA</a>
                </div>
                <h3>擅长方面</h3>
                <ul>
                	<li>政策解读</li>
                    <li>企业服务</li>
                    <li>政策解读</li>
                    <li>企业服务</li>
                </ul>
                </div>
            </div>
            <div class="xzdr xzdr2">
       	    	<img src="__PUBLIC__/images/dr2.jpg" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>宋媛</h1>
                <a>联系TA</a>
                </div>
                <h3>擅长方面</h3>
                <ul>
                	<li>政策解读</li>
                    <li>企业服务</li>
                    <li>政策解读</li>
                    <li>企业服务</li>
                </ul>
                </div>
            </div>
      </div>
      <div class="righttop righttop2 righttop3">
        	<h1 class="title title2">楼盘推荐<a href="__PUBLIC__/#" class="ckgd">更多&nbsp;>></a></h1>
            <div class="lpimg1"><p><a href="__PUBLIC__/#">中国铁建梧桐汇</a><span>23000/平</span></p><a href="__PUBLIC__/#"><img src="__PUBLIC__/images/lp1.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="__PUBLIC__/#">尚峯壹號</a><span>25000/平</span></p><a href="__PUBLIC__/#"><img src="__PUBLIC__/images/lp2.png" width="277" height="201" alt="lp" /></a></div>
      <div class="lpimg1 lpimg2"><p><a href="__PUBLIC__/#">京投银泰檀香府</a><span>价格待定</span></p><a href="__PUBLIC__/#"><img src="__PUBLIC__/images/lp3.png" width="277" height="201" alt="lp" /></a></div>
      </div>
    </div>
</div>
</div>
<include file="Public/footer.html" />
</body>
</html>
