<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/bidlist.css" rel="stylesheet" type="text/css" />
<title>比赛列表</title>
</head>
<body>
<include file="Public/header.html" />
<div class="content">
<div class="mybody">
	<div class="bread"><span>易学助手</span> > <a href="#">比赛列表</a></div>
    <div class="ss">
    <div class="search">
    	<form>
            <input type="text" placeholder="请输入" class="searchtext">
            <input type="button" value="开始搜索" class="searchbutton">
        </form>
    </div>
    </div>
    <div class="content">
    <ul class="contentul">
    	<li>
        	<div class="list">
            	<div class="listleft">
                	<h1>某某杯&nbsp;创新创业大赛</h1>
                    <div class="time">
               	    	<img src="__PUBLIC__/images/time.gif" width="13" height="16" alt="time"/>
                        <span class="sj">时间：2016-01-01</span>
                        <span class="qy">计算机</span>
                        <span class="qy xzl">软件</span>
                        <span class="qy qz">比赛</span>
                    </div>
                    <div class="yusuan">
                    	<span>要求：本科在读</span>
                        <span class="yusuan2">报名费：10</span>
                        <span class="yusuan2">官网：<a href="timeso.cc">timeso.cc</a></span>
                    </div>
                    <p>比赛提示：本科生可参与，需提前报名</p>
                </div>
                <div class="listright">
                	<form>
                    	<input type="button" value="我要参加" class="button1">
                        <input type="button" value="查看详情" class="button1 button2">
                    </form>
                </div>
            </div>
        </li>
    </ul>
    <div class="page">
            	<ul>
                	<li class="up"><a href="#">上一页</a></li>
                    <li class="now">1</li>
                    <li class="num"><a href="#">2</a></li>
                    <li class="num"><a href="#">3</a></li>
                    <li class="num"><a href="#">4</a></li>
                    <li class="num"><a href="#">5</a></li>
                    <li>...</li>
                    <li class="num"><a href="#">8</a></li>
                    <li class="up"><a href="#">下一页</a></li>
                </ul>
            </div>
    </div>
</div>
</div>
<include file="Public/footer.html" />
</body>
</html>
