<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/head.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/bidlist.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/confirmdelete.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/js/confirmdelete.js"></script>
    <title>比赛列表</title>
</head>
<body>
    <include file="Public/header.html" />
    <div class="content">
        <div class="mybody">
            <div class="bread">

                <span>
                    <a href="{:U('/')}">易学助手</a>
                </span>
                >
                <a href="__MODULE__/match/matchlist">比赛列表</a>
            </div>
            <div class="ss">
                <div class="search">
                    <form action="__MODULE__/match/search?" method="get">
                        <input type="text" placeholder="请输入比赛名称" class="searchtext" name="text">
                        <input type="submit" value="开始搜索" class="searchbutton"></form>
                </div>
                {$Think.session.mid}
            </div>
            <div class="content">
                <ul class="contentul">
                    <volist name="match" id="vo">
                        <li>
                            <div class="list">
                                <div class="listleft">
                                    <h1>{$vo.mname}</h1>
                                    <div class="time">
                                        <img src="__PUBLIC__/images/time.gif" width="13" height="13" alt="time"/>
                                        <span class="sj">时间：{$vo.mtime}</span>
                                        <span class="qy">{$vo.keyword}</span>
                                        <span class="qy xzl">{$vo.keyword2}</span>
                                        <span class="qy qz">{$vo.keyword3}</span>
                                    </div>
                                    <div class="yusuan">
                                        <span>要求：{$vo.mrequest}</span>
                                        <span class="yusuan2">报名费：{$vo.mfee} 元</span>
                                        <span class="yusuan2">
                                            官网：
                                            <a href="{$vo.murl}">{$vo.murl}</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="listright">
                                    <form>
                                        <if condition="116 eq $Think.session.mid">
                                            <input type="button" value="我要参加" onclick="return alertMsg('确定要参加吗？',1,'__CONTROLLER__/user/mid/{$vo.mid}/mtime/{$vo.mtime}');" class="button1" id="{$vo.mid}">
                                            <input type="button" value="查看详情" class="button1 button2"  onclick="location.href='__CONTROLLER__/content/mid/{$vo.mid}'">
                                            <else />
                                            <input type="button" value="您已报名" disabled="disabled" style="cursor:default" class="button1 button3">
                                            <input type="button" value="查看详情" class="button1 button2" onclick="location.href='__CONTROLLER__/content/mid/{$vo.mid}'"></if>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </volist>
                </ul>
                <div class="page">{$pages}</div>
            </div>
        </div>
    </div>
    <include file="Public/footer.html" />
</body>
</html>
